<div class="_dashboard_content">
  <div class="_main">
    <img src="/img_ref/logo_studio.png" alt="">
    <h1>DASHBOARD</h1>
    <hr>
  </div>
  <div class="_center">
    <a class="button" href="<%= newsfeeds_path %>">ข่าวสารองค์กร</a>
    <a class="button" href="<%= boards_path %>">รายชื่อผู้บริหาร</a>
  </div>
</div>
