<div class="_dashboard_content">
  <div class="_main">
    <img src="/img_ref/sup_01.png" alt="">
  </div>
  <h4 class="d_text">DASHBOARD</h4>
  <div class="_center">
    <a class="button" href="<%= courses_path %>">คอร์สเรียน</a>
    <a class="button" href="<%= classrooms_path %>">ชั้นเรียน</a>
    <a class="button" href="<%= newsfeeds_path %>">ข่าวสารโรงเรียน</a>
  </div>
</div>
