<div class="_dashboard_content">
<h1>สร้างรายชื่อใหม่</h1>
<div class="_dashboard_content">
  <div class="_show_content">
    <div class="_splitter">
      <%= render 'form', analyst: @analyst %>
    </div>
  </div>
  <div class="_action">
    <%= link_to 'Back', analysts_path , class: 'button  _del_button' %>
  </div>

</div>
