<div id="app">
  <blog-header    :data="header"    ></blog-header>
  <content-simple :content="content"></content-simple>
</div>

<script type="text/javascript"></script>

<!-- Include JAVASCRIPT here ><-->
<script src="/js/investor.js"></script>
<script type="text/javascript">
  var app = new Vue({
    el: '#app',
    data: {
      header: 'นโยบายการเงิน',
      content:[
        { ex:'text',text:'จากการประกอบธุรกิจของบริษัทฯ ที่มุ่งเน้นการสร้างความเติบโตอย่างมั่นคงและยั่งยืนในระยะยาวและการเป็นบริษัทที่มีการกำกับดูแลกิจการที่ดี รวมทั้งการบริหารการเงินของบริษัทในเครือแบบองค์รวม เพื่อลดความเสี่ยงสภาพคล่องทางการเงินและความผันผวนของอัตราดอกเบี้ยและอัตราแลกเปลี่ยนสกุลเงิน ส่งผลให้มีแผนการลงทุนเพื่อขยายธุรกิจอย่างระมัดระวังโดยคำนึงถึงแหล่งเงินทุนต่าง ๆ โดยเฉพาะการจัดโครงสร้างเงินทุนที่สามารถดำรงอัตราส่วนทางการเงินที่สำคัญต่าง ๆ ให้อยู่ระดับที่เหมาะสมเทียบเคียงได้กับบริษัทในอุตสาหกรรมเดียวกัน นอกจากนี้คำนึงความสำคัญในการบริหารความเสี่ยงโดยการกระจายแหล่งเงินกู้จากหลากหลายสถาบันการเงินและบริหารความเสี่ยงจากอัตราดอกเบี้ยและอัตราสกุลเงินต่างประเทศด้วยเครื่องมือประกันความเสี่ยงที่เหมาะสม (Hedging Tools) ให้เหมาะกับโครงสร้างธุรกิจโดยมุ่งเน้นการกระจายความเสี่ยงและต้นทุนการเงินที่แข่งขันได้เป็นหลัก เช่น การออกหุ้นกู้เพื่อเสนอขายต่อนักลงทุนสถาบันและรายย่อย การออกตั๋วสัญญาใช้เงินระยะสั้น และตั๋วแลกเงิน ทั้งนี้เพื่อให้เพียงพอกับความต้องการใช้เงินทุนหมุนเวียนทั้งในระยะสั้นและระยะยาว นอกจากนี้บริษัทฯยังให้ความสำคัญกับระเบียบวินัยทางการเงิน (Financial Discipline) และมุ่งเน้นการรักษาความสัมพันธ์ที่ดีกับนักลงทุนสถาบันในตลาดทุนและตลาดเงินอย่างต่อเนื่องเพื่อให้นักลงทุนมีความมั่นใจและเชื่อถือในการดำเนินงาน ซึ่งจากการติดตามการเปลี่ยนแปลงของปัจจัยที่เกี่ยวข้องกับการจัดหาเงินทุนอย่างต่อเนื่อง บริษัทฯ จึงมีความเชื่อว่าจะสามารถจัดหาเงินทุนเพื่อการขยายธุรกิจในอนาคตได้อย่างเพียงพอ ด้วยต้นทุนทางการเงินที่เหมาะสม โดยมีนโยบายทางการเงินที่สำคัญดังนี้'},
        { ex:'list',set:[
          'อัตราส่วนหนี้สินที่มีดอกเบี้ยต่อทุน ไม่เกิน 2 ต่อ 1',
          'สัดส่วนของหนี้สินระยะสั้น ไม่เกินร้อยละ 40 ของหนี้สินที่มีดอกเบี้ยทั้งหมด',
          'สัดส่วนของหนี้สินที่มีอัตราดอกเบี้ยลอยตัว ไม่เกินร้อยละ 40 ของหนี้สินที่มีดอกเบี้ยทั้งหมด'
        ]},
        { ex:'text',text:'ในส่วนของนโยบายการจ่ายเงินปันผล บริษัทฯ มีนโยบายที่จะพิจารณาจ่ายเงินปันผลประจำปีให้แก่ผู้ถือหุ้นปีละ 2 ครั้งในอัตราไม่ต่ำกว่าร้อยละ 50 ของกำไรสุทธิของงบการเงินรวมของบริษัทฯ ภายหลังจากการหักทุนสำรองต่างๆ ทั้งหมดแล้ว อย่างไรก็ตาม การจ่ายเงินปันผลดังกล่าวอาจมีการเปลี่ยนแปลงได้ ทั้งนี้ขึ้นอยู่กับแผนการลงทุน ความจำเป็นและความเหมาะสมอื่นๆ ในอนาคต ตามที่คณะกรรมการบริษัทเห็นสมควร'},
        { ex:'text',text:'สำหรับนโยบายการจ่ายเงินปันผลของบริษัทย่อยนั้น บริษัทย่อยจะจ่ายเงินปันผลให้บริษัทฯ จากกำไรสุทธิของบริษัทย่อย ทั้งนี้การจ่ายเงินปันผลให้นำปัจจัยต่างๆ มาพิจารณาประกอบกัน ได้แก่ ผลการดำเนินงานและฐานะการเงินของบริษัทย่อย สภาพคล่องของบริษัทย่อย การขยายธุรกิจและปัจจัยที่เกี่ยวข้องในการบริหารงานของบริษัทย่อย'},
        { ex:'text',text:'นอกจากนี้ ในการจ่ายเงินปันผลของบริษัทฯ เฉพาะกรณีจ่ายจากกำไรสุทธิจากกิจการของ บริษัทฯ ที่บริษัทฯ ได้รับสิทธิประโยชน์จากการส่งเสริมการลงทุนจาก BOI ผู้ที่ได้รับเงินปันผลดังกล่าวจะได้รับการยกเว้นไม่ต้องนำเงินปันผลที่ได้รับไปรวมคำนวณเพื่อเสียภาษีเงินได้ และบริษัทฯ ไม่มีหน้าที่หักภาษี ณ ที่จ่ายในเงินปันผลดังกล่าว'},
      ]
    }
  });
</script>
