<div id="app">
  <blog-header :data="header"></blog-header>
  <table-blog  :table="table"></table-blog>
</div>

<script type="text/javascript"></script>

<!-- Include JAVASCRIPT here ><-->
<script src="/js/investor.js"></script>
<script type="text/javascript">
  var app = new Vue({
    el: '#app',
    data: {
      header: 'ข้อมูลหุ้นกู้',
      table: {
        hint:{ check: false},
        headtype: 'special',
        thead:[
          { tr: [
            { rowspan: '2', text: 'ชื่อหุ้น'},
            { rowspan: '2', text: 'มูลค่า (ล้านบาท)'},
            { colspan: '3', text: 'อัตราดอกเบี้ย'},
            { rowspan: '2', text: 'อายุหุ้น (ปี)'},
            { rowspan: '2', text: 'วันที่ออก'},
            { rowspan: '2', text: 'วันที่ครบกำหนดไถ่ถอน'},
          ]},
          { tr: [
            { colspan: '', rowspan: '', text: 'คงที่'},
            { colspan: '', rowspan: '', text: 'เพิ่มเติม'},
            { colspan: '', rowspan: '', text: 'รวม'},
          ]},
        ],
        tfoot:[],
        bodytype: 'list',
        tbody:[
          { text: ['หุ้นกู้ของ บริษัท พฤกษา เรียลเอสเตท จำกัด (มหาชน) ครั้งที่ 1/2555 ชุดที่ 4 ครบ กำหนดไถ่ถอนปี พ.ศ. 2560 (PS179B)',	'1,400',	'4.50%',	'0.10%',	'4.60%',	'5 ปี นับจากวันที่ออกหุ้นกู้',	'21 กันยายน 2555',	'21 กันยายน 2560', ''] },
          { text: ['หุ้นกู้ของ บริษัท พฤกษา เรียลเอสเตท จำกัด (มหาชน) ครั้งที่ 1/2555 ชุดที่ 4 ครบ กำหนดไถ่ถอนปี พ.ศ. 2560 (PS179B)',	'1,400',	'4.50%',	'0.10%',	'4.60%',	'5 ปี นับจากวันที่ออกหุ้นกู้',	'21 กันยายน 2555',	'21 กันยายน 2560', ''] },
          { text: ['หุ้นกู้ของ บริษัท พฤกษา เรียลเอสเตท จำกัด (มหาชน) ครั้งที่ 1/2555 ชุดที่ 4 ครบ กำหนดไถ่ถอนปี พ.ศ. 2560 (PS179B)',	'1,400',	'4.50%',	'0.10%',	'4.60%',	'5 ปี นับจากวันที่ออกหุ้นกู้',	'21 กันยายน 2555',	'21 กันยายน 2560', ''] },
          { text: ['หุ้นกู้ของ บริษัท พฤกษา เรียลเอสเตท จำกัด (มหาชน) ครั้งที่ 1/2555 ชุดที่ 4 ครบ กำหนดไถ่ถอนปี พ.ศ. 2560 (PS179B)',	'1,400',	'4.50%',	'0.10%',	'4.60%',	'5 ปี นับจากวันที่ออกหุ้นกู้',	'21 กันยายน 2555',	'21 กันยายน 2560', ''] },
          { text: ['หุ้นกู้ของ บริษัท พฤกษา เรียลเอสเตท จำกัด (มหาชน) ครั้งที่ 1/2555 ชุดที่ 4 ครบ กำหนดไถ่ถอนปี พ.ศ. 2560 (PS179B)',	'1,400',	'4.50%',	'0.10%',	'4.60%',	'5 ปี นับจากวันที่ออกหุ้นกู้',	'21 กันยายน 2555',	'21 กันยายน 2560', ''] },
          { text: ['หุ้นกู้ของ บริษัท พฤกษา เรียลเอสเตท จำกัด (มหาชน) ครั้งที่ 1/2555 ชุดที่ 4 ครบ กำหนดไถ่ถอนปี พ.ศ. 2560 (PS179B)',	'1,400',	'4.50%',	'0.10%',	'4.60%',	'5 ปี นับจากวันที่ออกหุ้นกู้',	'21 กันยายน 2555',	'21 กันยายน 2560', ''] },
          { text: ['หุ้นกู้ของ บริษัท พฤกษา เรียลเอสเตท จำกัด (มหาชน) ครั้งที่ 1/2555 ชุดที่ 4 ครบ กำหนดไถ่ถอนปี พ.ศ. 2560 (PS179B)',	'1,400',	'4.50%',	'0.10%',	'4.60%',	'5 ปี นับจากวันที่ออกหุ้นกู้',	'21 กันยายน 2555',	'21 กันยายน 2560', ''] },
          { text: ['หุ้นกู้ของ บริษัท พฤกษา เรียลเอสเตท จำกัด (มหาชน) ครั้งที่ 1/2555 ชุดที่ 4 ครบ กำหนดไถ่ถอนปี พ.ศ. 2560 (PS179B)',	'1,400',	'4.50%',	'0.10%',	'4.60%',	'5 ปี นับจากวันที่ออกหุ้นกู้',	'21 กันยายน 2555',	'21 กันยายน 2560', ''] },
          { text: ['หุ้นกู้ของ บริษัท พฤกษา เรียลเอสเตท จำกัด (มหาชน) ครั้งที่ 1/2555 ชุดที่ 4 ครบ กำหนดไถ่ถอนปี พ.ศ. 2560 (PS179B)',	'1,400',	'4.50%',	'0.10%',	'4.60%',	'5 ปี นับจากวันที่ออกหุ้นกู้',	'21 กันยายน 2555',	'21 กันยายน 2560', ''] },
          { text: ['หุ้นกู้ของ บริษัท พฤกษา เรียลเอสเตท จำกัด (มหาชน) ครั้งที่ 1/2555 ชุดที่ 4 ครบ กำหนดไถ่ถอนปี พ.ศ. 2560 (PS179B)',	'1,400',	'4.50%',	'0.10%',	'4.60%',	'5 ปี นับจากวันที่ออกหุ้นกู้',	'21 กันยายน 2555',	'21 กันยายน 2560', ''] },
        ]
      }
    }
  });
</script>
