<div id="app">
  <blog-quote :stock="stock"></blog-quote>
  <hr>
  <blog-jumbo :data="share"></blog-jumbo>
  <hr>
  <blog-jumbo :data="email"></blog-jumbo>
</div>

<!-- Include JAVASCRIPT here ><-->
<script src="/js/investor.js"></script>
<script type="text/javascript">
  var app = new Vue({
    el: '#app',
    data: {
      stock: {
        quote:"BBL",
        price:"22.50",
        volumn:"3,165,900",
        date:"4 มค. 2560 15:44",
        high:"22.60",
        low:"22.30",
        highyear:"24.00",
        lowyear:"21.20",
        link:"#"
      },
      share: {
        title: "โครงสร้างผู้ถือหุ้น" ,
        desc: "รายชื่อผู้ถือหุ้นบริษัท พฤกษา โฮลดิ้ง จำกัด (มหาชน) ณ วันที่ 29 เมษายน 2559" ,
        hasLink: true, link: "ดูเพิ่มเติม", href: "<%= investor_share_path %>", linkclass: "" ,
      },
      email: {
        title: "อีเมล์รับข่าวสาร" ,
        desc: "ท่านสามารถลงทะเบียนเพื่อรับข่าวสารอิเล็กทรอนิกส์ เราจะส่งข่าวสารให้ท่านทาง อีเมล์ เมื่อมีข่าวสารที่เกี่ยวกับบริษัท (ประกาศ, ปรับปรุงเว็บไซต์) ที่ประกาศผ่านเว็บไซต์นี้" ,
        hasLink: true, link: "สมัคร", href: "<%= investor_contact_email_path %>", linkclass: "__middle"
      }
    }
  });
</script>
