<div id="app">
  <blog-header  :data="header" ></blog-header>
  <square-grid  :news="selectNews"></square-grid>
</div>

<script type="text/javascript">
</script>

<!-- Include JAVASCRIPT here ><-->
<script src="/js/investor.js"></script>
<script type="text/javascript">
  var app = new Vue({
    el: '#app',
    data: {
      header: 'สารสนเทศถึง ตลท.',
      newfeeds: [],
      type: "ข่าวset"
    },
    computed:{
      selectNews: function(){
        var type = this.type ;
        return this.newfeeds.filter( function(newfeed){
          if ( newfeed.newstype == type ) {
            return newfeed
          }
        });
      }
    },
    //include json file of board
    mounted: function() {
      this.$nextTick(function () {
        var that;
        that = this;
        $.ajax({
          url: '/newsfeeds.json',
          success: function(res) {
            that.newfeeds = res;
          }
        });
      });
    }
  });
</script>
