<div id="app">
  <!-- blog-header  :data="header" ></blog-header -->
  <div :style="{height: '40px'}"></div>
  <table-holder  :header="header" :table="table" :content="boards"></table-holder>
</div>

<!-- Include JAVASCRIPT here ><-->
<script src="/js/investor.js"></script>
<script type="text/javascript">
  var app = new Vue({
    el: '#app',
    data: {
      header: 'โครงสร้างผู้ถือหุ้น',
      boards: [],
      table: {
        hint:{ check: true , text: 'วันที่ 1 มกราคม 2560'},
        headtype: '',
        thead:[
          { title: 'ลำดับที่'},
          { title: 'รายชื่อผู้ถือหุ้น'},
          { title: 'จำนวนหุ้น'},
          { title: '%'},
        ],
        tfoot:[],
        bodytype: 'boardList',
        tbody:[
          { index: true , noindex: true , highlight: true , text: ['รวม 10 อันดับเเรก', '1,739,166,561',	'79.56%'] },
          { index: true , noindex: true , highlight: true , text: ['จำนวนหุ้นทั้งหมด', '2,185,857,580',	''] },
        ]
      }
    },
    //include json file of board
    mounted: function() {
      this.$nextTick(function () {
        var that;
        that = this;
        $.ajax({
          url: '/boards.json',
          success: function(res) {
            that.boards = res;
          }
        });
      });
    }
  });
</script>
