<div id="app">
  <blog-jumbo :data=policy></blog-jumbo>
  <section class="is-medium _body_jumbo_notop __top_to_blog">
    <div class="hero-body container">
      <div class="_collapsiv" v-for="c in collapse">
        <div class="_header" v-on:click="c.show = !c.show">
          <span>{{c.header}}</span>
          <a class="right" >+</a>
        </div>
        <div class="_content" v-if="c.show">
          <div class="_blog" v-for="line in c.blog">
            <div class="__blog_data" v-for="text in line.chat" :class="[text.ty]">
              {{text.ct}}
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>


</div>

<script type="text/javascript">
</script>

<!-- Include JAVASCRIPT here ><-->
<script src="/js/investor.js"></script>
<script type="text/javascript">
  var app = new Vue({
    el: '#app',
    data: {
      collapse: [
        {
          header: 'การประชุมผู้ถือหุ้น',
          show: false ,
          blog: [
            {
              chat: [
                //content#1
                {ty: 'header',ct: 'การกำหนดวัน เวลา สถานที่ในการประชุมผู้ถือหุ้น'},
                {ty: ''      ,ct: 'ในการจัดประชุมสามัญผู้ถือหุ้นประจำปี ซึ่งจะจัดขึ้นภายใน 4 เดือนนับแต่วันปิดบัญชีงบดุลประจำปี บริษัทจะกำหนดวัน เวลาและสถานที่ที่จะจัดประชุม ซึ่งมีความพร้อมที่จะอำนวยความสะดวกให้แก่ผู้ถือหุ้นทุกกลุ่ม ซึ่งรวมถึงผู้ถือหุ้นที่เป็นนักลงทุนสถาบันได้เข้าร่วมประชุมผู้ถือหุ้นของบริษัทฯ โดยจะไม่จัดประชุมในวันหยุดนักขัตฤกษ์ วันหยุดทำการของธนาคารพาณิชย์ จะเริ่มประชุมในช่วงเวลา 8.30 – 16.00 นาฬิกา เปิดโอกาสให้ผู้ถือหุ้นทุกคนสามารถส่งใบลงทะเบียน หรือหนังสือมอบฉันทะมายังบริษัทฯ เพื่อรับลงทะเบียนล่วงหน้า จะจัดประชุมในเขตกรุงเทพฯ หรือท้องที่อันเป็นที่ตั้งของสำนักงานใหญ่ของบริษัทฯ เพื่อให้ผู้ถือหุ้นสามารถเดินทางไปร่วมประชุมได้ง่ายและจะมีการให้ข้อมูล วัน เวลา สถานที่และวาระการประชุม โดยมีคำชี้แจงและเหตุผลประกอบในแต่ละวาระ หรือประกอบมติที่ขอตามที่ระบุไว้ในหนังสือเชิญประชุมสามัญผู้ถือหุ้นประจำปีและวิสามัญผู้ถือหุ้น หรือในเอกสารแนบวาระการประชุม โดยไม่มีการจำกัดโอกาสของผู้ถือหุ้นในการศึกษาสารสนเทศของบริษัทฯ ทั้งนี้ บริษัทสามารถเรียกประชุมวิสามัญผู้ถือหุ้นได้ หากคณะกรรมการบริษัทเห็นความจำเป็นหรือสมควร'},
                {ty: ''      ,ct: 'บริษัทฯ เปิดโอกาสให้ผู้ถือหุ้นเสนอเพิ่มวาระการประชุม เสนอชื่อกรรมการและส่งคำถามเกี่ยวกับบริษัทฯ ล่วงหน้าก่อนวันประชุม โดยกำหนดช่องทางและหลักเกณฑ์อย่างชัดเจนเพื่อแสดงถึงความเป็นธรรมและความโปร่งใสในการพิจารณาและแจ้งให้ผู้ถือหุ้นทราบ รวมทั้งเผยแพร่หลักเกณฑ์ดังกล่าวไว้บนเว็บไซต์ของบริษัทฯ ด้วย'},
                //content#2
                {ty: 'header',ct: 'การส่งหนังสือนัดประชุม'},
                {ty: ''      ,ct: 'ตามข้อบังคับของบริษัทฯ ระบุให้การจัดส่งหนังสือนัดประชุมให้แก่ผู้ถือหุ้นอย่างน้อย 7 วันล่วงหน้าก่อนการประชุมผู้ถือหุ้น แต่ในทางปฏิบัติ บริษัทฯ จะจัดส่งหนังสือนัดประชุมพร้อมเอกสารประกอบการประชุม ทั้งภาษาไทยและภาษาอังกฤษให้แก่ผู้ถือหุ้นชาวไทยและชาวต่างชาติล่วงหน้าอย่างน้อย 21 วัน ก่อนการประชุมผู้ถือหุ้น ทั้งนี้ การจัดส่งหนังสือนัดประชุมอาจเปลี่ยนแปลงได้ขึ้นอยู่กับสถานการณ์และความพร้อมในแต่ละปี แต่จะไม่ช้ากว่าระยะเวลาที่กฎหมายและข้อบังคับของบริษัทฯ กำหนด ทั้งนี้ เพื่อให้ผู้ถือหุ้นมีระยะเวลาในการพิจารณาเกี่ยวกับวาระการประชุม และเรื่องที่จะเสนอต่อที่ประชุมพร้อมด้วยรายละเอียดที่เพียงพอที่จะใช้ประกอบการตัดสินใจ ทั้งนี้ แต่ละเรื่องจะมีการระบุไว้อย่างชัดเจนว่า เป็นเรื่องที่จะเสนอเพื่อทราบ เพื่ออนุมัติ หรือเพื่อพิจารณาแล้วแต่กรณี รวมทั้งมีความเห็นของคณะกรรมการชุดย่อยที่เกี่ยวข้องในวาระนั้นและความเห็นของคณะกรรมการบริษัทในเรื่องดังกล่าวด้วย'},
                {ty: ''      ,ct: 'บริษัทฯ ประกาศการนัดประชุมผู้ถือหุ้นทางหนังสือพิมพ์รายวันภาษาไทยฉบับใดฉบับหนึ่งติดต่อกันไม่น้อยกว่า 3 วัน และเผยแพร่ในเว็บไซต์ของบริษัทฯ ที่ http://www.pruksa.com. ทั้งภาษาไทยและภาษาอังกฤษ (ฉบับสมบูรณ์) ล่วงหน้าอย่างน้อย 30 วันก่อนวันประชุม เพื่ออำนวยความสะดวกให้กับผู้ถือหุ้นชาวไทยและชาวต่างประเทศ โดยแจ้งข้อมูล วัน เวลา สถานที่ วาระการประชุม ตลอดจนข้อมูลที่เกี่ยวข้องกับเรื่องที่ต้องตัดสินใจในที่ประชุมแก่ผู้ถือหุ้นอย่างเพียงพอและทันเวลา'},
                //content#3
                {ty: 'header',ct: 'การเข้าร่วมประชุมและการลงทะเบียน'},
                {ty: ''      ,ct: 'ในการเข้าร่วมประชุมผู้ถือหุ้นควรนำเอกสารที่ใช้แสดงตัวเพื่อเข้าร่วมประชุม อาทิ บัตรประจำตัวประชาชน หรือหนังสือเดินทาง หรือในกรณีที่รับมอบฉันทะจากบุคคลธรรมดา จะต้องนำหลักฐานของผู้มอบฉันทะมาแสดงด้วย อาทิ หนังสือมอบฉันทะ และสำเนาบัตรประชาชน หรือสำเนาหนังสือเดินทาง หรือในกรณีที่รับมอบฉันทะจากนิติบุคคลในฐานะเป็นผู้แทน จะต้องนำหลักฐานของผู้มอบฉันทะมาแสดงด้วย อาทิ หนังสือมอบฉันทะและหนังสือรับรองการจดทะเบียนนิติบุคคลที่มีการรับรองสำเนาที่ถูกต้อง โดยบริษัทฯ จะเปิดให้ผู้ถือหุ้นสามารถลงทะเบียนเข้าร่วมประชุมได้ล่วงหน้าก่อนเวลาประชุม'},
                //content#4
                {ty: 'header',ct: 'การบริการติดอากรแสตมป์ในหนังสือมอบฉันทะ'},
                {ty: ''      ,ct: 'บริษัทฯ จะบริการติดอากรแสตมป์ในหนังสือมอบฉันทะให้แก่ผู้รับมอบฉันทะที่เข้าร่วมประชุม โดยไม่คิดค่าบริการ ณ จุดตรวจเอกสารลงทะเบียน เพื่อลดภาระการจัดหาอากรแสตมป์ของผู้ถือหุ้น'},
                //content#5
                {ty: 'header',ct: 'การเข้าร่วมประชุมผู้ถือหุ้นของคณะกรรมการบริษัท และประธานกรรมการบริษัท'},
                {ty: ''      ,ct: 'บริษัทฯ ให้ความสำคัญต่อการประชุมผู้ถือหุ้น ดังนั้น คณะกรรมการบริษัทจะเข้าร่วมประชุมผู้ถือหุ้น โดยประธานกรรมการบริษัทจะทำหน้าที่เป็นประธานในที่ประชุม นอกจากนี้ ประธานคณะกรรมการชุดย่อยทุกคณะ ผู้บริหารสูงสุดของบริษัทฯ (ประธานเจ้าหน้าที่บริหารกลุ่ม) ผู้บริหารลำดับ 4 รายแรก ผู้สอบบัญชีภายนอก หรือตัวแทน จะเข้าร่วมประชุมด้วยเพื่อรับฟังความคิดเห็น และตอบข้อซักถามของผู้ถือหุ้นโดยพร้อมเพรียงกัน'},
                //content#6
                {ty: 'header',ct: 'การเปิดโอกาสให้ผู้ถือหุ้นซักถามและแสดงความคิดเห็น และการลงมติ'},
                {ty: ''      ,ct: 'ในการประชุมผู้ถือหุ้น บริษัทฯ จะชี้แจงวิธีการลงคะแนนและวิธีการนับคะแนนก่อนการประชุมและระหว่างการประชุมจะเปิดโอกาสให้ผู้ถือหุ้นทุกคนมีสิทธิอย่างเท่าเทียมกันในการแสดงความคิดเห็นและซักถามโดยให้เวลาอย่างเหมาะสม ซึ่งการออกเสียงลงคะแนนบริษัทฯ จะนับ 1 หุ้นเป็น 1 เสียง และถือเสียงข้างมากเป็นมติ ถ้าคะแนนเสียงเท่ากันให้ประธานที่ประชุมเป็นผู้ชี้ขาดอีกเสียงหนึ่งต่'},
                {ty: ''      ,ct: 'กรณีที่ผู้ถือหุ้นคนใดมีส่วนได้เสียเป็นพิเศษในวาระการประชุมเรื่องใด ห้ามออกเสียงในเรื่องนั้น ยกเว้นการออกเสียงเลือกตั้งหรือถอดถอนกรรมการ'},
                //content#7
                {ty: 'header',ct: 'การกำหนดวาระการประชุม'},
                {ty: ''      ,ct: 'ในการประชุมผู้ถือหุ้น กรณีที่วาระการประชุมวาระใดมีหลายรายการ บริษัทฯ จะกำหนดวาระการประชุมไว้เป็นเรื่อง ๆ อย่างชัดเจน และจัดให้มีการลงมติเป็นแต่ละรายการ เช่น วาระเลือกตั้งกรรมการ การกำหนดอำนาจกรรมการ และค่าตอบแทนกรรมกา'},
                {ty: ''      ,ct: 'บริษัทฯ หลีกเลี่ยงการเพิ่มวาระอื่น ๆ ที่ไม่ได้กำหนดไว้ล่วงหน้าในการประชุมผู้ถือหุ้น เหตุเพราะการเพิ่มวาระ อื่น ๆ ที่จะต้องมีการลงมติโดยไม่ได้กำหนดไว้ในวาระการประชุมเป็นการไม่เป็นธรรมต่อผู้ถือหุ้นที่ไม่ได้เข้าร่วมประชุม'},
                //content#8
                {ty: 'header',ct: 'ผู้ตรวจสอบการนับคะแนนเสียง'},
                {ty: ''      ,ct: 'บริษัทฯ จะจัดให้มีบุคคลที่เป็นอิสระเป็นผู้ตรวจนับ หรือตรวจสอบคะแนนเสียงในการประชุมสามัญผู้ถือหุ้นประจำปีและวิสามัญผู้ถือหุ้น รวมทั้งเปิดเผยให้ที่ประชุมทราบพร้อมบันทึกไว้ในรายงานการประชุม'},
                //content#9
                {ty: 'header',ct: 'การใช้บัตรลงคะแนนเสียง'},
                {ty: ''      ,ct: 'บริษัทฯ สนันสนุนให้มีการใช้บัตรลงคะแนนเสียงทั้งในวาระหลักทั่วไปตามกฎหมาย และวาระที่สำคัญ เช่น การทำรายการเกี่ยวโยง การทำรายการได้มา หรือจำหน่ายไปซึ่งสินทรัพย์ ฯลฯ เพื่อความโปร่งใสและตรวจสอบได้ ในกรณีมีข้อโต้แย้งในภายหลัง'},
                //content#10
                {ty: 'header',ct: 'การบันทึกรายงานการประชุม'},
                {ty: ''      ,ct: 'บริษัทฯ บันทึกการแจ้งวิธีการลงคะแนน นับคะแนน การใช้บัตรลงคะแนน ให้ผู้ถือหุ้นทราบก่อนเริ่มการประชุม ตลอดจนรายชื่อ พร้อมตำแหน่งของกรรมการที่เข้าร่วมประชุม กรรมการที่ลาประชุม และคำถาม คำตอบ คำชี้แจง ความคิดเห็น มติที่ประชุมในแต่ละวาระ โดยแบ่งเป็นจำนวนเสียงที่เห็นด้วย ไม่เห็นด้วย งดออกเสียง ไว้เป็นลายลักษณ์อักษรในรายงานการประชุมอย่างละเอียด เพื่อให้ผู้ถือหุ้นที่ไม่ได้เข้าร่วมประชุมได้รับทราบและ สามารถตรวจสอบถึงการมีส่วนร่วมของกรรมการบริษัทในการประชุมผู้ถือหุ้นแต่ละครั้ง กรณีที่กรรมการบริษัทคนใดมีส่วนได้เสียเป็นพิเศษในวาระการประชุมเรื่องใด ต้องไม่อยู่ในที่ประชุมและไม่มีสิทธิออกเสียงลงคะแนนในเรื่องนั้น ยกเว้นการออกเสียงเลือกตั้ง หรือถอดถอนกรรมการ'},
                //content#11
                {ty: 'header',ct: 'การเปิดเผยมติที่ประชุมผู้ถือหุ้น'},
                {ty: ''      ,ct: 'บริษัทฯ จะเปิดเผยมติที่ประชุมผู้ถือหุ้นพร้อมผลการลงคะแนนเสียงภายหลังจากการประชุม หรืออย่างช้าในช่วงเช้าของวันถัดไปจากวันประชุมผู้ถือหุ้น โดยแจ้งเป็นจดหมายข่าวไปยังตลาดหลักทรัพย์แห่งประเทศไทยและเปิดเผยไว้บนเว็บไซต์ของบริษัทฯ ที่ http://www.pruksa.com อีกด้วย'},
              ]
            },
          ]
        },
        {
          header: 'การจ่ายเงินปันผล',
          show: false ,
          blog: [
            {
              chat: [
                {ty: '' ,ct: 'คณะกรรมการบริษัท อาจพิจารณาการจ่ายเงินปันผลประจำปีของบริษัทฯ โดยจะต้องได้รับอนุมัติจากที่ประชุม ผู้ถือหุ้น ทั้งนี้จะจ่ายเงินปันผลให้แก่ผู้ถือหุ้นได้ในกรณีที่ผลประกอบการของบริษัทมีกำไรและไม่มียอดขาดทุนสะสมอยู่ โดยการจ่ายเงินปันผลนั้นจะแบ่งตามจำนวนหุ้น หุ้นละเท่า ๆ กัน'},
                {ty: '' ,ct: 'ทั้งนี้ ตามนโยบายของบริษัทฯ จะจ่ายเงินปันผลประจำปีให้แก่ผู้ถือหุ้นปีละ 2 ครั้ง ในอัตรารวมไม่น้อยกว่าร้อยละ 50 ของกำไรสุทธิของงบการเงินรวมของบริษัทฯ หลังจากหักเงินสำรองตามกฎหมาย โดยในการพิจารณาจ่ายเงินปันผล บริษัทฯ จะคำนึงถึงผลประกอบการและผลตอบแทนของผู้ถือหุ้นในระยะยาว'},
                {ty: '' ,ct: 'นอกจากนี้ หากคณะกรรมการบริษัทเห็นว่าบริษัทฯ มีผลกำไรสมควรพอที่จะจ่ายเงินปันผล ก็อาจจ่ายเงินปันผลระหว่างกาลให้แก่ผู้ถือหุ้นเป็นครั้งคราวได้ และรายงานให้ที่ประชุมผู้ถือหุ้นทราบในการประชุมคราวต่อไป ทั้งนี้เงินกำไรส่วนที่เหลือจากการจ่ายเงินปันผลตามมติที่ประชุมผู้ถือหุ้น หรือส่วนที่เหลือจากการจ่ายปันผลระหว่างกาล ให้จัดสรรเป็นเงินสำรองต่าง ๆ ได้ตามแต่คณะกรรมการบริษัทจะเห็นสมควร หรือจัดสรรเป็นทุนสำรอง เพื่อเป็นเงินกองทุนของบริษัทฯต่อไป'},
                {ty: '' ,ct: 'บริษัทฯ จะจ่ายเงินปันผลภายใน 1 เดือนนับแต่วันที่ที่ประชุมผู้ถือหุ้นลงมติ หรือภายใน 1 เดือนนับแต่ วันที่คณะกรรมการบริษัทลงมติในกรณีที่บริษัทจะจ่ายเงินปันผลระหว่างกาล โดยมีหนังสือแจ้งให้ผู้ถือหุ้นทราบ และแจ้งการจ่ายปันผลในหนังสือพิมพ์ด้วย'},
              ]
            },
          ]
        },
        {
          header: 'การเเต่งตั้งเเละกำหนดค่าตอบเเทนผู้สอบบัญชี',
          show: false ,
          blog: [
            {
              chat: [
                {ty: '' ,ct: 'ให้ที่ประชุมผู้ถือหุ้นเป็นผู้แต่งตั้งและกำหนดค่าตอบแทนผู้สอบบัญชีของบริษัทฯ ตามข้อเสนอแนะของคณะกรรมการบริษัท ผู้สอบบัญชีนั้นต้องไม่เป็นกรรมการ พนักงาน ลูกจ้าง หรือผู้ดำรงตำแหน่งหน้าที่ใด ๆ ในบริษัทฯ'},
              ]
            },
          ]
        }
      ],
      policy: {
        title: 'สิทธิของผู้ถือหุ้น',
        desc: 'บริษัทฯ ตระหนักและให้ความสำคัญถึงสิทธิของผู้ถือหุ้น โดยไม่กระทำการใด ๆ อันเป็นการละเมิดหรือริดรอนสิทธิของผู้ถือหุ้น ทั้งนี้สิทธิขั้นพื้นฐานของผู้ถือหุ้น ได้แก่ สิทธิในการเข้าร่วมประชุมผู้ถือหุ้นและออกเสียงลงคะแนน สิทธิในการมอบฉันทะให้บุคคลอื่นเข้าประชุมและออกเสียงลงคะแนนแทน สิทธิในการแสดงความคิดเห็นและซักถามในการประชุมผู้ถือหุ้น สิทธิในการออกเสียงลงคะแนนเลือกตั้งกรรมการ สิทธิในการออกเสียงแต่งตั้งและกำหนด ค่าตอบแทนผู้สอบบัญชี',
        href: '',
        linkclass: ''
      }
    }
  });
</script>
