<div id="app">
  <blog-jumbo :data=policy></blog-jumbo>
  <hr>
  <section class="is-medium">
    <div class="container">
      <div class="collapsiv" v-for="content in collapse">
        <div class="_header" v-on:click="toggle">
          <span>{{content.header}}</span>
          <a class="right" href="#">+</a>
        </div>
        {{show}}
        <div class="_content" v-if="content.show">
          <div class="_blog" v-for="line in content.blog">
            <div class="__blog-data" v-for="text in line.chat">{{text}}</div>
          </div>
        </div>
      </div>
    </div>

  </section>


</div>

<script type="text/javascript">
</script>

<!-- Include JAVASCRIPT here ><-->
<script src="/js/investor.js"></script>
<script type="text/javascript">
  var app = new Vue({
    el: '#app',
    methods: {
      toggle: function(){
        this.show = !this.show
      }
    },
    data: {
      choice: false ,
      collapse: [
        {
          header: 'การประชุมผู้ถือหุ้น',
          show: false ,
          blog: [
            {
              chat: [
              'การกำหนดวัน เวลา สถานที่ในการประชุมผู้ถือหุ้น',
              'ในการจัดประชุมสามัญผู้ถือหุ้นประจำปี ซึ่งจะจัดขึ้นภายใน 4 เดือนนับแต่วันปิดบัญชีงบดุลประจำปี บริษัทจะกำหนดวัน เวลาและสถานที่ที่จะจัดประชุม ซึ่งมีความพร้อมที่จะอำนวยความสะดวกให้แก่ผู้ถือหุ้นทุกกลุ่ม ซึ่งรวมถึงผู้ถือหุ้นที่เป็นนักลงทุนสถาบันได้เข้าร่วมประชุมผู้ถือหุ้นของบริษัทฯ โดยจะไม่จัดประชุมในวันหยุดนักขัตฤกษ์ วันหยุดทำการของธนาคารพาณิชย์ จะเริ่มประชุมในช่วงเวลา 8.30 – 16.00 นาฬิกา เปิดโอกาสให้ผู้ถือหุ้นทุกคนสามารถส่งใบลงทะเบียน หรือหนังสือมอบฉันทะมายังบริษัทฯ เพื่อรับลงทะเบียนล่วงหน้า จะจัดประชุมในเขตกรุงเทพฯ หรือท้องที่อันเป็นที่ตั้งของสำนักงานใหญ่ของบริษัทฯ เพื่อให้ผู้ถือหุ้นสามารถเดินทางไปร่วมประชุมได้ง่ายและจะมีการให้ข้อมูล วัน เวลา สถานที่และวาระการประชุม โดยมีคำชี้แจงและเหตุผลประกอบในแต่ละวาระ หรือประกอบมติที่ขอตามที่ระบุไว้ในหนังสือเชิญประชุมสามัญผู้ถือหุ้นประจำปีและวิสามัญผู้ถือหุ้น หรือในเอกสารแนบวาระการประชุม โดยไม่มีการจำกัดโอกาสของผู้ถือหุ้นในการศึกษาสารสนเทศของบริษัทฯ ทั้งนี้ บริษัทสามารถเรียกประชุมวิสามัญผู้ถือหุ้นได้ หากคณะกรรมการบริษัทเห็นความจำเป็นหรือสมควร',
              'บริษัทฯ เปิดโอกาสให้ผู้ถือหุ้นเสนอเพิ่มวาระการประชุม เสนอชื่อกรรมการและส่งคำถามเกี่ยวกับบริษัทฯ ล่วงหน้าก่อนวันประชุม โดยกำหนดช่องทางและหลักเกณฑ์อย่างชัดเจนเพื่อแสดงถึงความเป็นธรรมและความโปร่งใสในการพิจารณาและแจ้งให้ผู้ถือหุ้นทราบ รวมทั้งเผยแพร่หลักเกณฑ์ดังกล่าวไว้บนเว็บไซต์ของบริษัทฯ ด้วย']
            },
          ]
        },
      ],
      policy: {
        title: 'สิทธิของผู้ถือหุ้น',
        desc: 'บริษัทฯ ตระหนักและให้ความสำคัญถึงสิทธิของผู้ถือหุ้น โดยไม่กระทำการใด ๆ อันเป็นการละเมิดหรือริดรอนสิทธิของผู้ถือหุ้น ทั้งนี้สิทธิขั้นพื้นฐานของผู้ถือหุ้น ได้แก่ สิทธิในการเข้าร่วมประชุมผู้ถือหุ้นและออกเสียงลงคะแนน สิทธิในการมอบฉันทะให้บุคคลอื่นเข้าประชุมและออกเสียงลงคะแนนแทน สิทธิในการแสดงความคิดเห็นและซักถามในการประชุมผู้ถือหุ้น สิทธิในการออกเสียงลงคะแนนเลือกตั้งกรรมการ สิทธิในการออกเสียงแต่งตั้งและกำหนด ค่าตอบแทนผู้สอบบัญชี',
        href: '',
        linkclass: ''
      }
    }
  });
</script>
