<div id="app">
  <blog-jumbo   :data=policy></blog-jumbo>

</div>

<script type="text/javascript">
</script>

<!-- Include JAVASCRIPT here ><-->
<script src="/js/investor.js"></script>
<script type="text/javascript">
  var app = new Vue({
    el: '#app',
    data: {
      policy: {
        title: 'นโยบายและประวัติการจ่ายเงินปันผล',
        desc: 'บริษัทฯ มีนโยบายที่จะ พิจารณาจ่ายเงินปันผลประจำปีให้แก่ผู้ถือหุ้นปีละ 2 ครั้ง ในอัตรารวมแล้วไม่ต่ำกว่าร้อยละ 50 ของกำไรสุทธิงบการเงินรวมของบริษัทฯ ภายหลังหักภาษีเงินได้นิติบุคคลประจำปีและเงินทุนสำรองต่าง ๆ ตามกฎหมายแล้ว ทั้งนี้ขึ้นอยู่กับแผนการลงทุน เงื่อนไขและข้อจำกัดตามที่กำหนดไว้ในสัญญาต่างๆ ที่เกี่ยวข้อง (ถ้ามี) ความจำเป็นและความเหมาะสม รวมถึงปัจจัยด้านอื่น ๆ ในอนาคต ตามที่คณะกรรมการบริษัทเห็นสมควร เพื่อให้เป็นไปตามแผนการเติบโตทางธุรกิจของบริษัทฯ ทั้งนี้ การจ่ายเงินปันผลดังกล่าวจะไม่เกินกำไรสะสมที่ปรากฏอยู่ในงบการเงินเฉพาะของบริษัทฯ และเป็นไปตามกฎหมายที่เกี่ยวข้อง',
        href: '',
        linkclass: '',
        link: ''
      }
    }
  });
</script>
