<div id="app">
  <blog-header :data="header"></blog-header>
  <select-quote></select-quote>
  <table-blog  :table="table"></table-blog>
</div>

<script type="text/javascript"></script>

<!-- Include JAVASCRIPT here ><-->
<script src="/js/investor.js"></script>
<script type="text/javascript">
  var app = new Vue({
    el: '#app',
    data: {
      header: 'ราคาย้อนหลัง',
      table: {
        hint:{ check: true , text: 'ราคาย้อนหลัง จาก 01 ธันวาคม 2559 ถึง 05 มกราคม 2560'},
        headtype: '',
        thead:[
          { title: 'วันที่'},
          { title: 'ราคาเปิด'},
          { title: 'สูงสุด'},
          { title: 'ต่ำสุด'},
          { title: 'ราคาปิด'},
          { title: 'ปริมาณการซื้อขาย​ (หุ้น)'},
          { title: 'มูลค่าการซื้อขาย (บาท)'},
        ],
        tfoot:[
          {colspan: '7', title: 'หมายเหตุ: ปริมาณการซื้อขายบนกระดานหลัก (Main board) เท่านั้น'}
        ],
        bodytype: 'list',
        tbody:[
          { text: ['ข้อมูลสรุป'], class: 'highlight', colspan: '7' },
          { text: ['05/01/2560', '22.40',	'22.70', '22.30', '22.60', '7,850,100', '177,072,810'] , style: 'center'},
          { text: ['05/01/2560', '22.40',	'22.70', '22.30', '22.60', '7,850,100', '177,072,810'] , style: 'center'},
          { text: ['ข้อมูลราคาย้อนหลัง'], class: 'highlight', colspan: '7' },
          { text: ['05/01/2560', '22.40',	'22.70', '22.30', '22.60', '7,850,100', '177,072,810'] , style: 'center'},
          { text: ['05/01/2560', '22.40',	'22.70', '22.30', '22.60', '7,850,100', '177,072,810'] , style: 'center'},
          { text: ['05/01/2560', '22.40',	'22.70', '22.30', '22.60', '7,850,100', '177,072,810'] , style: 'center'},
          { text: ['05/01/2560', '22.40',	'22.70', '22.30', '22.60', '7,850,100', '177,072,810'] , style: 'center'},
          { text: ['05/01/2560', '22.40',	'22.70', '22.30', '22.60', '7,850,100', '177,072,810'] , style: 'center'},
          { text: ['05/01/2560', '22.40',	'22.70', '22.30', '22.60', '7,850,100', '177,072,810'] , style: 'center'},
          { text: ['05/01/2560', '22.40',	'22.70', '22.30', '22.60', '7,850,100', '177,072,810'] , style: 'center'},
          { text: ['05/01/2560', '22.40',	'22.70', '22.30', '22.60', '7,850,100', '177,072,810'] , style: 'center'},
          { text: ['05/01/2560', '22.40',	'22.70', '22.30', '22.60', '7,850,100', '177,072,810'] , style: 'center'},
          { text: ['05/01/2560', '22.40',	'22.70', '22.30', '22.60', '7,850,100', '177,072,810'] , style: 'center'},
          { text: ['05/01/2560', '22.40',	'22.70', '22.30', '22.60', '7,850,100', '177,072,810'] , style: 'center'},
          { text: ['05/01/2560', '22.40',	'22.70', '22.30', '22.60', '7,850,100', '177,072,810'] , style: 'center'},
          { text: ['05/01/2560', '22.40',	'22.70', '22.30', '22.60', '7,850,100', '177,072,810'] , style: 'center'},
          { text: ['05/01/2560', '22.40',	'22.70', '22.30', '22.60', '7,850,100', '177,072,810'] , style: 'center'},
          { text: ['05/01/2560', '22.40',	'22.70', '22.30', '22.60', '7,850,100', '177,072,810'] , style: 'center'},
          { text: ['05/01/2560', '22.40',	'22.70', '22.30', '22.60', '7,850,100', '177,072,810'] , style: 'center'},
          { text: ['05/01/2560', '22.40',	'22.70', '22.30', '22.60', '7,850,100', '177,072,810'] , style: 'center'},
          { text: ['05/01/2560', '22.40',	'22.70', '22.30', '22.60', '7,850,100', '177,072,810'] , style: 'center'},
          { text: ['05/01/2560', '22.40',	'22.70', '22.30', '22.60', '7,850,100', '177,072,810'] , style: 'center'},
          { text: ['05/01/2560', '22.40',	'22.70', '22.30', '22.60', '7,850,100', '177,072,810'] , style: 'center'},
          { text: ['05/01/2560', '22.40',	'22.70', '22.30', '22.60', '7,850,100', '177,072,810'] , style: 'center'},
          { text: ['05/01/2560', '22.40',	'22.70', '22.30', '22.60', '7,850,100', '177,072,810'] , style: 'center'},
          { text: ['05/01/2560', '22.40',	'22.70', '22.30', '22.60', '7,850,100', '177,072,810'] , style: 'center'},
        ]
      }
    }
  });
</script>
