<div id="app">
  <blog-header  :data="header" ></blog-header>
  <table-analyst :table="table" :content="analyst"></table-analyst>
</div>

<script type="text/javascript">
</script>

<!-- Include JAVASCRIPT here ><-->
<script src="/js/investor.js"></script>
<script type="text/javascript">
  var app = new Vue({
    el: '#app',
    data: {
      header: 'รายชื่อนักวิเคราะห์',
      analyst:[],
      table: {
        hint:{ check: false},
        headtype: '',
        thead:[
          { title: 'ลำดับที่'},
          { title: 'บริษัทหลักทรัพย์'},
          { title: 'ชื่อ-สกุล'},
          { title: 'ติดต่อ'},
        ],
        bodytype: 'list',
        tbody:[],
        tfoot:[]
      }
    },
    //include json file of board
    mounted: function() {
      this.$nextTick(function () {
        var that;
        that = this;
        $.ajax({
          url: '/analysts.json',
          success: function(res) {
            that.analyst = res;
          }
        });
      });
    }
  });
</script>
