<div id="app">
  <blog-header :data="header"></blog-header>
  <div class="_simple_container">
    <div class="container">
      <div class="_select_date">
      <span class="header">เลือกช่วงวันที่</span> <br>
        <span class="hint">จาก</span>
        <select class="select">
          <option value="1" selected="selected">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
        </select>
        <select class="select">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="12" selected="selected">12</option>
        </select>
        <select class="select">
          <option value="2559">2559</option>
          <option value="2560" selected="selected">2560</option>
        </select>
        <span class="hint">ถึง</span> 
        <select class="select">
          <option value="1" selected="selected">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
        </select>
        <select class="select">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="12" selected="selected">12</option>
        </select>
        <select class="select">
          <option value="2559">2559</option>
          <option value="2560" selected="selected">2560</option>
        </select>
        <a class="button" href="#">ดูผล</a>
      </div>

    </div>
  </div>
  <table-blog  :table="table"></table-blog>
</div>

<!-- Include JAVASCRIPT here ><-->
<script src="/js/investor.js"></script>
<script type="text/javascript">
  var app = new Vue({
    el: '#app',
    data: {
      header: 'ราคาย้อนหลัง',
      table: {
        hint:{ check: true , text: 'ราคาย้อนหลัง จาก 01 ธันวาคม 2559 ถึง 05 มกราคม 2560'},
        headtype: '',
        thead:[
          { title: 'วันที่'},
          { title: 'ราคาเปิด'},
          { title: 'สูงสุด'},
          { title: 'ต่ำสุด'},
          { title: 'ราคาปิด'},
          { title: 'ปริมาณการซื้อขาย​ (หุ้น)'},
          { title: 'มูลค่าการซื้อขาย (บาท)'},
        ],
        tfoot:[
          {colspan: '7', title: 'หมายเหตุ: ปริมาณการซื้อขายบนกระดานหลัก (Main board) เท่านั้น'}
        ],
        bodytype: 'list',
        tbody:[
          { text: ['ข้อมูลสรุป'], highlight: true, colspan: '7' },
          { text: ['05/01/2560', '22.40',	'22.70', '22.30', '22.60', '7,850,100', '177,072,810'] },
          { text: ['05/01/2560', '22.40',	'22.70', '22.30', '22.60', '7,850,100', '177,072,810'] },
          { text: ['ข้อมูลราคาย้อนหลัง'], highlight: true, colspan: '7' },
          { text: ['05/01/2560', '22.40',	'22.70', '22.30', '22.60', '7,850,100', '177,072,810'] },
          { text: ['05/01/2560', '22.40',	'22.70', '22.30', '22.60', '7,850,100', '177,072,810'] },
          { text: ['05/01/2560', '22.40',	'22.70', '22.30', '22.60', '7,850,100', '177,072,810'] },
          { text: ['05/01/2560', '22.40',	'22.70', '22.30', '22.60', '7,850,100', '177,072,810'] },
          { text: ['05/01/2560', '22.40',	'22.70', '22.30', '22.60', '7,850,100', '177,072,810'] },
          { text: ['05/01/2560', '22.40',	'22.70', '22.30', '22.60', '7,850,100', '177,072,810'] },
          { text: ['05/01/2560', '22.40',	'22.70', '22.30', '22.60', '7,850,100', '177,072,810'] },
          { text: ['05/01/2560', '22.40',	'22.70', '22.30', '22.60', '7,850,100', '177,072,810'] },
          { text: ['05/01/2560', '22.40',	'22.70', '22.30', '22.60', '7,850,100', '177,072,810'] },
          { text: ['05/01/2560', '22.40',	'22.70', '22.30', '22.60', '7,850,100', '177,072,810'] },
          { text: ['05/01/2560', '22.40',	'22.70', '22.30', '22.60', '7,850,100', '177,072,810'] },
          { text: ['05/01/2560', '22.40',	'22.70', '22.30', '22.60', '7,850,100', '177,072,810'] },
          { text: ['05/01/2560', '22.40',	'22.70', '22.30', '22.60', '7,850,100', '177,072,810'] },
          { text: ['05/01/2560', '22.40',	'22.70', '22.30', '22.60', '7,850,100', '177,072,810'] },
          { text: ['05/01/2560', '22.40',	'22.70', '22.30', '22.60', '7,850,100', '177,072,810'] },
          { text: ['05/01/2560', '22.40',	'22.70', '22.30', '22.60', '7,850,100', '177,072,810'] },
          { text: ['05/01/2560', '22.40',	'22.70', '22.30', '22.60', '7,850,100', '177,072,810'] },
          { text: ['05/01/2560', '22.40',	'22.70', '22.30', '22.60', '7,850,100', '177,072,810'] },
          { text: ['05/01/2560', '22.40',	'22.70', '22.30', '22.60', '7,850,100', '177,072,810'] },
          { text: ['05/01/2560', '22.40',	'22.70', '22.30', '22.60', '7,850,100', '177,072,810'] },
          { text: ['05/01/2560', '22.40',	'22.70', '22.30', '22.60', '7,850,100', '177,072,810'] },
          { text: ['05/01/2560', '22.40',	'22.70', '22.30', '22.60', '7,850,100', '177,072,810'] },
          { text: ['05/01/2560', '22.40',	'22.70', '22.30', '22.60', '7,850,100', '177,072,810'] },
        ]
      }
    }
  });
</script>
