<section class="hero is-fullheight _celeb-bg">
  <div class="">
    <div class="container center">
      <a class="button" href="<%= home_single_path %>">เข้าสู่เวปไซท์</a>
    </div>
  </div>
</section>
