<div class="nav-top-blanket"></div>
<br><br>
<div id="app">
  <div class="container _spiltter _center">
    <img src="<%= image_path 'asset_program_01.jpg' %>" alt="" class="image_brand">
    <br><br>
    <a class="btn btn-redder _big-red" target="_blank" href="https://www.facebook.com/pg/supergeniusschool/reviews/?ref=page_internal">
      <i class="fa fa-comment" style="vertical-align: middle;margin-right: 8px;"></i>
      กดเพื่ออ่านรีวิวจากผู้ปกครองเเละนักเรียน
    </a>
  </div>
  <br><br>
  <div class="container __body _spiltter">
    <h1>Contact Us</h1>
    <div class="grid-container">
      <div class="col-3 _left _center-tiling" v-for="c in contacts">
        <div class="top_tile">
          <i :class=" 'fa ' + c.icon "></i>
          <div class="title-tile">{{c.title}}</div>
        </div>
        <div v-for="line in c.text" class="text_tile">
          <span v-if="line.link">
            <a class="btn btn-redder" style="margin-bottom:3px;display:inline-block;" :href="line.link" target="_blank">{{line.desc}}</a>
          </span>
          <span v-else>{{line.desc}}</span>
        </div>
      </div>
    </div>
  </div>
  <br><br>
  <div class="container __body">
    <h1>Our Location</h1>
  </div>
  <content-simple :content="content"></content-simple>
  <div class="container _center">
    <div class="grid-container">
      <div class="col-4 _left _center-tiling" v-for="c in transports">
        <div class="top_tile">
          <i :class=" 'fa ' + c.icon "></i>
          <div class="title-tile">{{c.title}}</div>
        </div>
        <div v-for="line in c.text" class="text_tile _left _dash_before">
          {{line}}
        </div>
      </div>
    </div>
  </div>
  <map-center></map-center>
  <br><br>
  <div class="container __body">
    <h6>กวดวิชารังสิต กวดวิชาย่านรังสิต สอนพิเศษรังสิต ติวสอบเข้าม.1 รังสิต ติวสอบเข้าม.4 รังสิต  ติวเข้า สวนกุหลาบรังสิต ติวgifted ดีๆ ติว Ep เก่งๆ พี่ๆ จุฬา สอนเก่งๆ สอนสนุก หาที่เรียนพิเศษให้ลูก เรียนพิเศษที่ไหนดี รังสิต สอบเข้าได้เยอะๆ สอบติด เรียนพิเศษ รังสิตกวดวิชารังสิตกวดวิชารังสิตกวดวิชารังสิตกวดวิชารังสิตกวดวิชารังสิต  กวดวิชารังสิตกวดวิชารังสิตกวดวิชารังสิต  กวดวิชารังสิต    กวดวิชารังสิต  กวดวิชารังสิต  กวดวิชารังสิต  กวดวิชา รังสิต  กวดวิชารังสิต กวดวิชา รังสิต สอนพิเศษสอนพิเศษสอนพิเศษ  สอนพิเศษ  สอนพิเศษ  สอนพิเศษ  สอนพิเศษ  สอนพิเศษ  สอนพิเศษ สอนพิเศษ รังสิตรังสิตรังสิต  รังสิต  รังสิต  รังสิต  รังสิต  เรียนพิเศษรังสิตเรียนพิเศษรังสิต  เรียนพิเศษรังสิต  เรียนพิเศษรังสิต  เรียนพิเศษรังสิต   สายปัญญารังสิต คณะราษฎร์บำรุง ปทุมธานี ธัญวิทย์ ประถม มัธยม เพิ่มเกรด หอวัง สวนกุหลาบนนท์ หอวังนนท์ สามเสน ดีๆ</h6>
  </div>
  <br><br>
</div>

<!-- Include JAVASCRIPT here ><-->
<script src="/js/investor.js"></script>
<script src="/js/map.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCdUSDSheJVPKt2eCrJE1sZEx3cAud_aT0&callback=initMap"> </script>
<script type="text/javascript">
  var comp = new Vue({
    el: '#app',
    data: {
      header: 'ข้อมูลการติดต่อ',
      content:[
        { ex:'text'   ,text:'กวดวิชา Super genius (เรียนพิเศษ เพิ่มเกรด สอบเข้า)'},
        { ex:'text'   ,text:'การันตีความสำเร็จด้วยสถิติสอบติด 100% ตั้งแต่ปีที่เปิดสอนจนถึงปัจจุบัน ดำเนินการสอนโดย บัณฑิตวิศวะจุฬาฯ ศิษย์เก่าเตรียมอุดม และทีมงานคุณภาพ'},
        { ex:'text'   ,text:'หมู่บ้าน รัตนโกสินทร์-200ปี  รังสิต-ปทุมธานี 14 ซอย 9 ต. ประชาธิปัตย์ อ.ธัญบุรี จ. ปทุมธานี 12130 อยู่แถวฟิวเจอร์'},
        { ex:'text'   ,text:'📞 โทรศัพท์. 089-760-6279 '},
        { ex:'text'   ,text:'✉️ อีเมล์. windz_bs@hotmail.com'},
      ],
      contacts: [
        {icon: 'fa-phone' ,title: 'Call Us',
          text: [
            {desc: 'พี่วิน 089-760-6279'},
            {desc: 'พี่ป๊อป 085-334-8815'}
          ]
        },
        {icon: 'fa-comment' ,title: 'Line Us',
          text: [
            {desc: 'P’win : winni3z'},
            {desc: 'P’pop : popnatthawit'}
          ]
        },
        {icon: 'fa-facebook' ,title: 'Facebook Us',
          text: [
            {link: 'https://www.facebook.com/supergeniusschool/',desc: 'Facebook Page'},
            {link: 'https://www.facebook.com/Winni3z',desc: "Facebook P'win"},
            {link: 'https://www.facebook.com/pop.natthawit?fref=ts',desc: "Facebook P'pop"}
          ]
        }
      ],
      transports: [
        {icon: 'fa-bus' ,title: 'BUS', text: ['หากมาจากแมคโคร เซียร์ ดอนเมืองนั่งสาย 29, 504, 554 สีเหลืองๆ ลงในหมู่บ้านรัตนโกสินทร์ 200 ปี รถเมล์จะผ่านหน้าโรงเรียนเลย (ระวัง สาย 29 บางสายไปธรรมศาสตร์ให้ขึ้นที่เขียนว่ารังสิตเท่านั้น)','หากมาจากที่อื่นให้ขึ้นรถที่ไปรังสิต และนั่งมาลงหน้าหมูบ้านรัตนโกสินทร์ แล้วต่อมอเตอร์ไซค์เข้ามาอีก 10 บาท บอกว่า “กวดวิชา หน้าบอส”']},
        {icon: 'fa-taxi' ,title: 'TAXI',
          text: [
            "บอกแท๊กซี่ว่ามา หมู่บ้านรัตนโกสินทร์ 200 ปี กวดวิชา หน้าบอส เมน 3 ซอย 9 แถวๆสถานีรถไฟรังสิต",
            "จากฟิวเจอร์ 40-50 บาท",
            "จากธรรมศาสตร์ 85-105 บาท",
            "จากเซียร์ 70-90 บาท",
            "จากคลอง 3 ธัญบุรี 65-85 บาท",
            "จากหมู่บ้านสินธร 60-80 บาท"
          ]
        },
        {icon: 'fa-car' ,title: 'CAR',
          text: [
            "มาถึงแยกตรงฟิวเจอร์",
            "เลี้ยวเหมือนจะไปจังหวัดปทุมธานี",
            "กลับรถใต้สะพานข้ามทางรถไฟ",
            "มองซ้ายมือเห็นป้ายโรงเรียน",
            "เลี้ยวซ้ายซอยแรก (รังสิต-ปทุมธานี14)",
            "ตรงมา 500 เมตร โรงเรียนอยู่ซ้ายมือ"
          ]
        },
        {icon: 'fa-bicycle' ,title: 'MOTORCYCLE',
          text: [
            "จากฟิวเจอร์ 25-35 บาท",
            "จากท่ารถบ้านนา 20 บาท",
            "จากตลาดนอกรังสิต 20-25 บาท",
            "จากเวิร์คพอยท์ 20-30 บาท",
            "จากโรงกษาปณ์ 30-40 บาท"
          ]
        }
      ]
    },
    mounted: function() {
    }
  });
</script>
