<div class="nav-top-blanket"></div>
<div id="app">
  <br><br>
  <div class="container __body">
    <h1>คอร์สเรียนของเรา</h1>
  </div>
  <div class="container _spiltter _center">
    <img src="<%= image_path 'course_01.jpg' %>" alt="" class="image_brand">
    <br><br>
    <img src="<%= image_path 'course_02.jpg' %>" alt="" class="image_brand">
  </div>
</div>

<!-- Include JAVASCRIPT here ><-->
<script src="/js/investor.js"></script>
<script type="text/javascript">
  var comp = new Vue({
    el: '#app',
    data: {
    },
    mounted: function() {
    }
  });
</script>
