<div class="nav-top-blanket"></div>
<div id="app">
  <br><br>
  <div class="container __body">
    <h1><%= @content[:title] %></h1>
  </div>
  <%= @content[:content].html_safe %>
</div>

<!-- Include JAVASCRIPT here ><-->
<script src="/js/investor.js"></script>
