<div id="app">
  <hero-level title="Follow our newest contents" button="GO NOW!" url="#"></hero-level>
  <hero-grid :grid="grid"></hero-grid>
  <section class="hero is-dark is-medium">
    <hero-body :text="testimo"></hero-body>
  </section>
  <mapping :map="maps"></mapping>
</div>

<!-- Include JAVASCRIPT here ><-->
<script src="/js/map.js"></script>
<script src="/js/body.js"></script>
<script src="/js/stockir.js"></script>
<script src="/js/footer_site.js"></script>
<script src="/js/masonry.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCdUSDSheJVPKt2eCrJE1sZEx3cAud_aT0&callback=initMap"> </script>
<script src="/js/app-data.js"></script>

<script type="text/javascript">
  var comp = new Vue({
    el: '#app',
    data: {
      grid: {
        title: 'Show me some text',
        desc: 'see our reason that why we difference.',
        lists: [
            {head: 'Sample#1',detail: 'see more details',image: "/img_ref/web_ref.png"},
            {head: 'Sample#2',detail: 'see more details',image: "/img_ref/web_ref.png"},
            {head: 'Sample#3',detail: 'see more details',image: "/img_ref/web_ref.png"},
        ]
      },
      testimo: {
        title: 'Are you OK with this ?',
        sub:   'just answer me at this time | then I will share your story'
      },
      maps: [
        { head: 'address'  , icon: 'fa-map-marker', url: '#', content: '114/13 Phra-a-thit rd, Chanasongkram, Phranakorn, Bangkok 10200'},
        { head: 'facebook' , icon: 'fa-facebook-official', url: 'http://www.facebook.com/zinatip', content: 'www.facebook.com/zinatip'},
        { head: 'email'    , icon: 'fa-envelope'         , url: 'mailto:chinnatip@me.com' , content: 'chinnatip@me.com'},
        { head: 'telephone', icon: 'fa-phone-square'     , url: 'tel:+66909847814' ,content: '090.984.7814'}
      ],
    }
  });
</script>
