<section class="hero is-medium is-primary">
  <div class="hero-head">
    <header class="nav">
      <div class="container">
        <div class="nav-left">
          <a class="nav-item">
            <img src="https://s29.postimg.org/5xtetqw6v/vbr.png" alt="" style="height: 33px;">
          </a>
        </div>
        <span class="nav-toggle">
          <span></span>
          <span></span>
          <span></span>
        </span>
        <div class="nav-right nav-menu">
          <a id="hoho" class="nav-item is-active">
            {{message}}
          </a>
          <a class="nav-item">
            Examples
          </a>
          <a class="nav-item">
            Documentation
          </a>
          <span class="nav-item">
            <a class="button is-primary is-inverted">
              <span class="icon">
                <i class="fa fa-github"></i>
              </span>
              <span>Download</span>
            </a>
          </span>
        </div>
      </div>
    </header>
  </div>
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        Vue&Bulma sample with Rails ecosystem
      </h1>
      <h2 class="subtitle">
        Vuejs 2.1.6 | Bulma 0.2.3 | Rails 5.0.0
      </h2>
    </div>
  </div>
  <div class="hero-foot">
    <nav class="tabs is-boxed is-fullwidth">
      <div class="container">
        <ul>
          <li class="is-active"><a>Installation</a></li>
          <li><a>Component</a></li>
          <li><a>Cards</a></li>
          <li><a>Footer</a></li>
        </ul>
      </div>
    </nav>
  </div>
</section>

<section class="section">
  <div class="content container">
    <h1>Installation</h1>
    <p>Clone and install project easy and ready in a pinch</p>
    <ol>
      <li> If you never use Rails just install it at this <a href="http://installrails.com/">link</a></li>
      <li> Clone this project from <a href="https://github.com/Chinnatip/vueRailsSample">click here</a></li>
      <li> Open project in terminal</li>
      <li> Key '$ bundle install' to download required ruby gem to your project</li>
      <li> Key '$ rails s' to start rails local server</li>
      <li> Explore Rails document at this <a href="http://guides.rubyonrails.org/getting_started.html">link</a>. </li>
      <li> Learn to create frontend component with VUE.js at this <a href="https://vuejs.org/v2/guide/">link</a>. </li>
      <li> Learn to make web fabulous with Bulma at this <a href="http://bulma.io/">link</a>.  </li>
      <li> Enjoy!</li>
    </ol>
  </div>

</section>

<section class="section is-medium">
  <nav class="level">
    <div class="level-item has-text-centered">
      <p class="heading">Tweets</p>
      <p class="title">3,456</p>
    </div>
    <div class="level-item has-text-centered">
      <p class="heading">Following</p>
      <p class="title">123</p>
    </div>
    <div class="level-item has-text-centered">
      <p class="heading">Followers</p>
      <p class="title">456K</p>
    </div>
    <div class="level-item has-text-centered">
      <p class="heading">Likes</p>
      <p class="title">789</p>
    </div>
  </nav>
</section>



<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        <strong>Contribute project</strong> by <a href="https://www.facebook.com/zinatip">chinnatip@me.com - 2016</a>. The source code is licensed
        <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
        is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC ANS 4.0</a>.
      </p>
      <p>
        <a class="icon" href="https://github.com/Chinnatip/vueRailsSample">
          <i class="fa fa-github"></i>
        </a>
      </p>
    </div>
  </div>
</footer>

<script type="text/javascript">
  var app = new Vue({
    el: '#hoho',
    data: {
      message: 'Hello vue'
    }
  });
</script>
