<section class="hero is-medium is-primary">
  <div class="hero-head">
    <header class="nav">
      <div class="container">
        <div class="nav-left">
          <a class="nav-item">
            <img src="https://s29.postimg.org/5xtetqw6v/vbr.png" alt="" style="height: 33px;">
          </a>
        </div>
        <span class="nav-toggle">
          <span></span>
          <span></span>
          <span></span>
        </span>
        <div class="nav-right nav-menu">
          <a class="nav-item is-active">
            Document
          </a>
          <a class="nav-item">
            Examples
          </a>
          <a class="nav-item">
            Documentation
          </a>
          <span class="nav-item">
            <a target="_blank" href="https://github.com/Chinnatip/vueRailsSample" class="button is-primary is-inverted">
              <span class="icon">
                <i class="fa fa-github"></i>
              </span>
              <span>Download</span>
            </a>
          </span>
        </div>
      </div>
    </header>
  </div>
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        Vue&Bulma sample with <strong>Rails stack</strong>
      </h1>
      <h2 class="subtitle">
        Vuejs 2.1.6 | Bulma 0.2.3 | Rails 5.0.0
      </h2>
    </div>
  </div>
  <div class="hero-foot">
    <nav class="tabs is-boxed is-fullwidth">
      <div class="container">
        <ul>
          <li class="is-active"><a>Installation</a></li>
          <li><a>Component</a></li>
          <li><a>Cards</a></li>
          <li><a>Footer</a></li>
        </ul>
      </div>
    </nav>
  </div>
</section>

<section class="section">
  <div class="content container">
    <h1>Installation</h1>
    <p>Clone and install project easy and ready in a pinch</p>
    <ol>
      <li> If you never use Rails just install it at this <a target="_blank"  href="http://installrails.com/">link</a></li>
      <li> Clone this project from <a target="_blank"  href="https://github.com/Chinnatip/vueRailsSample">click here</a></li>
      <li> Open project in terminal</li>
      <li> Key '$ bundle install' to download required ruby gem to your project</li>
      <li> Key '$ rails s' to start rails local server</li>
      <li> Enjoy!</li>
      <li> Explore Rails document at this <a target="_blank"  href="http://guides.rubyonrails.org/getting_started.html">link</a>. </li>
      <li> Learn to create frontend component with VUE.js at this <a target="_blank"  href="https://vuejs.org/v2/guide/">link</a>. </li>
      <li> Learn to make web fabulous with Bulma at this <a target="_blank"  href="http://bulma.io/">link</a>.  </li>
    </ol>
  </div>
</section>

<section class="section is-medium">
  <div class="level">
    <div class="level-item has-text-centered">
      <p class="heading">EXAMPLE1</p>
      <p class="title">
        <span id="app-1">{{message}}</span>
      </p>
    </div>
    <div class="level-item has-text-centered">
      <p class="heading">EXAMPLE2</p>
      <p class="title">
        <span id="app-2">{{message}}</span>
      </p>
    </div>
    <div class="level-item has-text-centered">
      <p class="heading">EXAMPLE3</p>
      <p class="title" id="app-3">
        <span v-if="seen">{{message}}</span>
      </p>
    </div>
  </div>

  <div class="level" id="app-4">
    <div class="level-item has-text-centered" v-for="todo in todos">
      <p class="heading">{{todo.header}}</p>
      <p class="title">{{todo.text}}</p>
    </div>
  </div>

  <div class="level">
    <div id="app-5" class="level-item has-text-centered">
      <p class="heading">{{message}}</p>
      <p class="title">
        <button v-on:click="reverseText" type="button">Reverse Text</button>
      </p>
    </div>
    <div id="app-6" class="level-item has-text-centered">
      <p class="heading">{{message}}</p>
      <p class="title">
        <input v-model="message" type="text">
      </p>
    </div>
    <div id="app-7" class="level-item has-text-centered">
      <p class="heading">EXAMPLE7</p>
      <ol>
        <todo-item v-for="item in groceryList" v-bind:todo="item"></todo-item>
      </ol>
    </div>
  </div>
</section>

<section class="section is-medium">
  <nav class="level">
    <div class="level-item has-text-centered">
      <p class="heading">Tweets</p>
      <p class="title">3,456</p>
    </div>
    <div class="level-item has-text-centered">
      <p class="heading">Following</p>
      <p class="title">123</p>
    </div>
    <div class="level-item has-text-centered">
      <p class="heading">Followers</p>
      <p class="title">456K</p>
    </div>
    <div class="level-item has-text-centered">
      <p class="heading">Likes</p>
      <p class="title">789</p>
    </div>
  </nav>
</section>



<footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        <strong>Contribute project</strong> by <a href="https://www.facebook.com/zinatip">chinnatip@me.com - 2016</a>. The source code is licensed
        <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
        is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC ANS 4.0</a>.
      </p>
      <p>
        <a class="icon" href="https://github.com/Chinnatip/vueRailsSample">
          <i class="fa fa-github"></i>
        </a>
      </p>
    </div>
  </div>
</footer>

<script type="text/javascript">

  var app = new Vue({
    el: '#app-1',
    data: {
      message: 'This is Vue element!'
    }
  });
  var app2 = new Vue({
    el: '#app-2',
    data: {
      message: 'Loaded on : ' + new Date()
    }
  });
  var app3 = new Vue({
    el: '#app-3',
    data:{
      seen: true,
      message: 'Now you see me!'
    }
  });
  var app4 = new Vue({
    el: '#app-4',
    data:{
      todos: [
        {text: 'this is first elment in array' , header: 'EXAMPLE4.1'},
        {text: 'this is first 2nd in array', header: 'EXAMPLE4.2'},
        {text: 'this is first 3rd in array', header: 'EXAMPLE4.3'},
      ]
    }
  });
  var app5 = new Vue({
    el: '#app-5',
    data: {
      message: 'EXAMPLE5'
    },
    methods: {
      reverseText: function(){
        this.message = this.message.split('').reverse().join('')
      }
    }
  });
  var app6 = new Vue({
    el: '#app-6',
    data: {
      message: 'EXAMPLE6'
    }
  });

  Vue.component('todo-item', {
  props: ['todo'],
  template: '<li>{{ todo.text }}</li>'
})
var app7 = new Vue({
  el: '#app-7',
  data: {
    groceryList: [
      { text: 'Vegetables' },
      { text: 'Cheese' },
      { text: 'Whatever else humans are supposed to eat' }
    ]
  }
})
</script>
