<div class="" id="app-sample">
    {{message}}
    <hr>
    <sampling :fig="notice" :counter="counts"></sampling>
    <hr>
    click here to add counter up <br>
    <button @click="addCounts" type="button" >+1</button>
    <button @click="minusCounts" type="button" >-1</button>
    <button @click="cleanCounts" type="button" >refresh</button>
    <hr>
  </div>
</div>

<div id="vote">
  <section class="section">
    <ul class="list-group">
      <post v-for="post in posts" :post="post"></post>
    </ul>
  </section>
</div>

<script src="js/voter.js"></script>
<script src="js/sample.js"></script>
