<div id="app">
  <!-- header ><-->
  <section class="hero" v-bind:class="[body.theme,body.size]">
    <nav-bar   :nav="nav" :body="body" ></nav-bar>
    <hero-body :text="body"></hero-body>
  </section>

  <!-- body ><-->
  <hero-level title="Follow our newest contents" button="GO NOW!" url="#"></hero-level>
  <masonry :mason="mason"></masonry>
  <hr>
  <hero-grid :grid="grid"></hero-grid>
  <section class="hero is-dark is-medium">
    <hero-body :text="testimo"></hero-body>
  </section>
  <mapping :map="maps"></mapping>

  <!-- footer ><-->
  <footer-site :footer="footer"></footer-site>
  <footer-copy year="2016" company="-KOH-Coporate.co.ltd"></footer-copy>
</div>

<script type="text/javascript">
</script>

<!-- Include JAVASCRIPT here ><-->
<script src="js/map.js"></script>
<script src="js/body.js"></script>
<script src="js/footer.js"></script>
<script src="js/ribbon.js"></script>
<script src="js/masonry.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCdUSDSheJVPKt2eCrJE1sZEx3cAud_aT0&callback=initMap"> </script>
<script src="js/app-data.js"></script>
