<div id="app">
  <blog-jumbo :data="history"></blog-jumbo>
  <hr>
  <blog-jumbo :data="business"></blog-jumbo>
  <hr>
  <blog-jumbo :data="structure" blogstyle="center"></blog-jumbo>
  <hr>
  <blog-header  :data="staffHeader"></blog-header>
  <square-grid  :news="staff" styler="staff"></square-grid>
  <hr>
  <blog-jumbo :data="ci"></blog-jumbo>
</div>

<!-- Include JAVASCRIPT here ><-->
<script src="/js/investor.js"></script>
<script type="text/javascript">
  var app = new Vue({
    el: '#app',
    data: {
      history: {
        title: "ประวัติบริษัท" ,
        text: [
          "ปี 2559",
          "คณะกรรมการบริษัทฯ มีมติอนุมัติจัดตั้งบริษัทโฮลดิ้งขึ้นใหม่ ภายใต้ชื่อ บริษัท พฤกษา โฮลดิ้ง จำกัด (มหาชน)",
          "และจะนำหุ้นสามัญของบริษัทโฮลดิ้ง เข้าจดทะเบียนในตลาดหลักทรัพย์ฯ และเพิกถอนหุ้นของบริษัท ฯ โดยคาดว่าการปรับโครงสร้างนี้ จะแล้วเสร็จภายในเดือนพฤศจิกายน 2559 ข้อมูลสรุปบริษัทโฮลดิ้ง และพฤกษา เรียลเอสเตท ดังแแผนภาพด้านล่าง"
        ] ,
        hasLink: false
      },
      business: {
        title: "การประกอบธุรกิจ" ,
        text: ["พฤกษา โฮลดิ้ง มีทุนจดทะเบียนเริ่มแรกมูลค่า 10,000 บาท ประกอบด้วยหุ้นสามัญ 10,000 หุ้น มูลค่าที่ตราไว้หุ้นละ 1 บาท บริษัทฯ ประกอบธุรกิจหลักโดยการถือหุ้นในบริษัทอื่น (Holding Company) ซึ่งจะลงทุนในบริษัทที่ประกอบธุรกิจพัฒนาอสังหาริมทรัพย์เพื่อขาย และธุรกิจที่มีความสามารถในการสร้างรายได้อย่างต่อเนื่อง (Recurring Income) ที่มั่นคงและยั่งยืน ทั้งนี้ ธุรกิจที่เป็นการสร้างรายได้อย่างต่อเนื่องนี้ อาจเป็นธุรกิจที่บริษัทฯ มีความเชี่ยวชาญอย่างธุรกิจพัฒนาอสังหาริมทรัพย์หรือธุรกิจใหม่ที่อาจไม่มีความเกี่ยวข้องกับธุรกิจพัฒนาอสังหาริมทรัพย์เพื่อขาย"] ,
        hasLink: true, link: "ข้อมูลเพิ่มเติม", href: "#", linkclass: ""
      },
      structure: {
        title: "โครงสร้างองค์กร" ,
        text: ["ณ วันที่ 16 มีนาคม 2559 โครงสร้างการจัดการของบริษัทฯ ประกอบด้วยคณะกรรมการบริษัทฯ คณะกรรมการชุดย่อย และเจ้าหน้าที่บริหาร ตามโครงสร้างสายการบริหารงาน ดังนี้"] ,
        hasLink: true, link: "ข้อมูลเพิ่มเติม", href: "#", linkclass: ""
      },
      staffHeader: 'คณะกรรมการบริษัท',
      staff: [
        { head: 'ดร.พิสิฐ ลี้อาธรรม', date: 'ประธานกรรมการเเละกรรมการอิสระ', url:'#'},
        { head: 'นายทองมา วิจิตรพงศ์พันธุ์', date: 'รองประธานกรรมการ', url:'#'},
        { head: 'ดร.พิสิฐ ลี้อาธรรม', date: 'ประธานกรรมการเเละกรรมการอิสระ', url:'#'},
        { head: 'นายทองมา วิจิตรพงศ์พันธุ์', date: 'รองประธานกรรมการ', url:'#'},
        { head: 'ดร.พิสิฐ ลี้อาธรรม', date: 'ประธานกรรมการเเละกรรมการอิสระ', url:'#'},
        { head: 'นายทองมา วิจิตรพงศ์พันธุ์', date: 'รองประธานกรรมการ', url:'#'},
        { head: 'ดร.พิสิฐ ลี้อาธรรม', date: 'ประธานกรรมการเเละกรรมการอิสระ', url:'#'},
        { head: 'นายทองมา วิจิตรพงศ์พันธุ์', date: 'รองประธานกรรมการ', url:'#'},
      ],
      ci: {
        title: "CORPORATE IDENTITY" ,
        text: [
          'PRUKSA HOLDING Brand Mark Concept',
          'ตราสัญลักษณ์ (Brand Mark) นี้ได้ถูกออกแบบเพื่อต้องการสะท้อนบุคลิก ภาพลักษณ์ แนวคิด และหัวใจของการดำเนินการเพื่อสื่อสารภาพลักษณ์ วิสัยทัศน์ และรวมถึงองค์ประกอบต่างๆ ที่เป็นหนึ่งขององค์กรที่ดำเนินการสอดคล้องไปในทิศทางเดียวกันในทุกกลุ่มทุกส่วน',
          'โดยตราสัญลักษณ์นี้ได้เริ่มต้นจากการออกแบบโดยดัดแปลงจากรูปทรงที่ได้จากการผสมผสานองค์ประกอบศิลป์ตามรูปแบบสากลที่นำประยุกต์รวมกันเพื่อสื่อถึงความเป็น “PRUKSA HOLDING” ในหลายแง่มุม ด้วยรูปแบบของใบไม้ที่กำลังผลิบาน แตกออกมาจากยอด เพื่อสื่อสารถึงการเริ่มต้นชีวิต สะท้อนให้ เห็น มาจากการที่ธุรกิจในกลุ่มของบริษัทฯ ดำเนินธุรกิจที่เกี่ยวข้องกับการอยู่อาศัย',
          'รูปทรงของหลังคาบ้าน ซึ่งสะท้อนมาจากความอบอุ่น ความปลอดภัย ชีวิตของการอยู่อาศัยภายใต้ หลังคาที่แข็งแรงเป็นปึกแผ่น',
          'รูปทรงของการเจริญเติบโต การพัฒนา สะท้อนให้เห็นถึงความเจริญเติบโตของบริษัทฯ และความสุข ที่เพิ่มมากขึ้นทั้งลูกค้าและขององค์กร'
        ]
      },

    }
  });
</script>
