<div id="app">
  <div :style="{height: '40px'}"></div>
  <div class="container _spiltter _center">
    <img src="<%= image_path 'asset_program_01.jpg' %>" alt="" class="image_brand">
    <br><br>
    <a class="btn btn-redder _big-red" href="#">ตารางเรียนเปิดเทอม เทอม 1 ปี 60</a>
  </div>
  <div class="container _spiltter _center">
    <div class="grid-container">
      <div class="col-4 _left" v-for="c in contents">
        <div class="top_tile">
          <i :class=" 'fa ' + c.icon "></i>
          <span>{{c.title}}</span>
        </div>
        <div class="text_tile">{{c.text}}</div>
      </div>
    </div>
  </div>
  <div class="container _spiltter _center">
    <img src="<%= image_path 'asset_program_02.jpg' %>" alt="" class="image_brand">
    <br><br>
    <a class="btn btn-redder _big-red" href="#">ตารางเรียนเปิดเทอม เทอม 1 ปี 60</a>
  </div>
</div>

<!-- Include JAVASCRIPT here ><-->
<script src="/js/investor.js"></script>
<script type="text/javascript">

  var app = new Vue({
    el: '#app',
    data: {
      contents: [
        {icon: 'fa-frown-o' ,title: 'ถ้าน้องๆเรียนที่โรงเรียนไม่รู้เรื่อง', text: 'ถ้าหากเรียนที่โรงเรียนไม่รู้เรื่อง หรือไม่เข้าใจเท่าที่ควร ที่นี่ตอบโจทย์ เพราะเราสอนด้วยความเข้าใจ อธิบายซ้ำและถามได้ตลอดเวลา สอนให้น้องๆทำโจทย์ด้วยความเข้าใจพร้อมกับเทคนิคลัดมากมาย'},
        {icon: 'fa-user-md' ,title: 'ถ้าอยากเพิ่มเกรด อยากสอบติดที่ดีๆ', text: 'ทางเราจะหาข้อสอบใหม่ๆมาอัพเดทอยู่ตลอด เพื่อให้หนังสือของเราทันสมัยและตรงจุดอยู่เสมอ ไม่ว่าจะสอบที่โรงเรียน หรือสอบเข้าที่ต่างๆ เราสอนเด็กทำได้จนเด็กมาพูดให้ฟังว่า “ข้อสอบออกเหมือนที่พี่ๆสอนทั้งนั้นเลย”'},
        {icon: 'fa-child' ,title: 'ถ้าเรียนพิเศษที่ไหนก็เครียดตลอด', text: 'ที่นั่นคงไม่ใช่ที่นี่ เพราะเราจะสอนอย่างมีความสุข ให้เด็กสนุก มีส่วนร่วม และได้ความรู้ไปพร้อมๆกัน เราเป็นกันเอง ดูแลเอาใจใส่ ไม่ต่างจากครอบครัว'},
        {icon: 'fa-tachometer' ,title: 'ถ้าตอนเรียนทำได้ แต่ตอนสอบ ตกตลอด', text: 'นั่นก็เพราะที่เรียนที่อื่นไม่มีการประเมินจุดอ่อนจุดแข็งและหลักการคิดให้น้องๆ ที่นี่เราจะดูแลอย่างใกล้ชิดทุกๆคน โดยเราจะมีการสอบวัดผลเป็นระยะ (บางห้องจะมีเทสก่อนกลับบ้านทุกๆวัน) เพื่อให้น้องได้เติบโตและพัฒนาอย่างต่อเนื่อง'},

        {icon: 'fa-home dark' ,title: 'เดินทางสะดวก ปลอดภัย สวยงาม', text: 'เดินทางสะดวก ไม่ว่าจะรถเมล์ แท๊กซี่ มอเตอร์ไซค์ หรือด้วยรถส่วนตัว ที่จอดรถกว่า 10 คัน และสถานที่เรียนทันสมัย ทำใหม่หมดทั้งโรงเรียน สะอาด ปลอดภัย'},
        {icon: 'fa-slideshare dark' ,title: 'ผู้ปกครองดูตอนน้องเรียนได้', text: 'ทางเราจะมีการติดกล้องวงจรปิดไว้ที่ห้องเรียนทุกห้อง เพื่อผู้ปกครองสามารถสังเกตการเรียนของลูกหลานได้อย่างใกล้ชิด สามารถมานั่งดูที่ห้องพัก หรือจะดูผ่านมือถือได้ทุกๆแห่ง'},
        {icon: 'fa-video-camera dark' ,title: 'ชดเชยไม่อั้น', text: 'หากมีบางครั้งที่จำเป็นต้องทำธุระ ไม่มีคนมาส่ง หรืออาจจะต้องพาน้องๆไปด้วย เพื่อความต่อเนื่องในการเรียน เราจะมีวีดีโออัดไว้ให้ทุกครั้ง สามารถมาดูชดเชยที่ขาดไป หรือทบทวนได้ไม่จำกัดเวลา และไม่มีเสียค่าใช้จ่าย'},
        {icon: 'fa-users dark' ,title: 'คุยกับผู้ปกครองเป็นระยะๆ', text: 'ลูกหลานท่าน ก็ไม่ต่างจากลูกหลานเรา ผู้ปกครองอยากรู้อะไร อยากถามอะไรคุณครู เรามีสายตรงให้คุยกับคุณครูได้ตลอดเวลา รวมถึงตัวคุณครูจะเอาใจใส่บุตรหลานท่านและมีการรายงานเป็นระยะ ว่าน้องตั้งใจไหม เรียนแล้วเป็นยังไง ได้หรือไม่ได้ตรงไหนบ้าง'},
      ],
      invokes: [
        { img: '/img_ref/ic_01.png', title: 'ความไว้วางใจ', text: 'ด้วยมาตราฐานที่เราใช้ทำธุรกิจ คุณมั่นใจได้ว่าบริษัทของเราสามารถผลิตโครงการอสังหาริมทรัพย์ที่มีคุณภาพ ไม่มีปัญหาในภายหลัง' },
        { img: '/img_ref/ic_02.png', title: 'เทคโนโลยีสากล', text: 'เราใช้เทคโนโลยีในการพัฒนาองค์กรของเรา ทั้งในส่วนการจัดการภายในและตัวผลิตภัณฑ์' },
        { img: '/img_ref/ic_03.png', title: 'ราคาที่เป็นธรรม', text: 'เรามุ่งเน้นที่จะทำธุรกิจในระยะยาว และสร้างความสัมพันธ์กับลูกค้าของเรา' }
      ],
      timelines: [
        {year: 'พศ.2530', title: 'บริษัทได้ถูกก่อตั้งขึ้นโดยกลุ่มทุนนักธุรกิจชาวไทย', img: '/img_ref/im_01.png'},
        {year: 'พศ.2536', title: 'บริษัทจดทะเบียนเป็นบริษัทมหาชน', img: '/img_ref/im_02.png'},
        {year: 'พศ.2540', title: 'ยอดขายบริษัทมีสูงกว่า 10,000 ล้านบาท ', img: '/img_ref/im_03.png'},
        {year: 'ปัจุบัน', title: 'เครือข่ายลูกค้าทั่วโลก ', img: '/img_ref/im_04.png'},
      ],
      player: {
        bg: '/img_ref/bg_city_01.png',
        title: 'กว่า 30 ปีที่บริษัทของเราได้รับใช้ชาวไทย',
        text: 'เล่นวิดิโอที่เกี่ยวกับบริษัทของเรา',
        icon:  '/img_ref/ic_play.png',
        url: '#' ,
      },
      history: {
        title: "ประวัติบริษัท" ,
        text: [
          "Public Company Limited มุ่งมั่นที่จะเป็นบริษัทอสังหาริมทรัพย์ชั้นนำของประเทศไทย ที่มีธุรกิจและบริการที่หลากหลายเพื่อตอบสนองรูปแบบการดำเนินชีวิตสมัยใหม่ และสามารถตอบโจทย์ความต้องการของลูกค้าได้อย่างครบถ้วน Public Company Limited มุ่งมั่นที่จะเป็นบริษัทอสังหาริมทรัพย์ชั้นนำของประเทศไทย ที่มีธุรกิจและบริการที่หลากหลายเพื่อตอบสนองรูปแบบการดำเนินชีวิตสมัยใหม่ และสามารถตอบโจทย์ความต้องการของลูกค้าได้อย่างครบถ้วน Public Company Limited มุ่งมั่นที่จะเป็นบริษัทอสังหาริมทรัพย์ชั้นนำของประเทศไทย ที่มีธุรกิจและบริการที่หลากหลายเพื่อตอบสนองรูปแบบการดำเนินชีวิตสมัยใหม่ และสามารถตอบโจทย์ความต้องการของลูกค้าได้อย่างครบถ้วน"
        ] ,
        hasLink: false
      },
      business: {
        title: "การประกอบธุรกิจ" ,
        text: ["พฤกษา โฮลดิ้ง มีทุนจดทะเบียนเริ่มแรกมูลค่า 10,000 บาท ประกอบด้วยหุ้นสามัญ 10,000 หุ้น มูลค่าที่ตราไว้หุ้นละ 1 บาท บริษัทฯ ประกอบธุรกิจหลักโดยการถือหุ้นในบริษัทอื่น (Holding Company) ซึ่งจะลงทุนในบริษัทที่ประกอบธุรกิจพัฒนาอสังหาริมทรัพย์เพื่อขาย และธุรกิจที่มีความสามารถในการสร้างรายได้อย่างต่อเนื่อง (Recurring Income) ที่มั่นคงและยั่งยืน ทั้งนี้ ธุรกิจที่เป็นการสร้างรายได้อย่างต่อเนื่องนี้ อาจเป็นธุรกิจที่บริษัทฯ มีความเชี่ยวชาญอย่างธุรกิจพัฒนาอสังหาริมทรัพย์หรือธุรกิจใหม่ที่อาจไม่มีความเกี่ยวข้องกับธุรกิจพัฒนาอสังหาริมทรัพย์เพื่อขาย"] ,
        hasLink: true, link: "ข้อมูลเพิ่มเติม", href: "#", linkclass: ""
      },
      structure: {
        title: "โครงสร้างองค์กร" ,
        text: ["ณ วันที่ 16 มีนาคม 2559 โครงสร้างการจัดการของบริษัทฯ ประกอบด้วยคณะกรรมการบริษัทฯ คณะกรรมการชุดย่อย และเจ้าหน้าที่บริหาร ตามโครงสร้างสายการบริหารงาน ดังนี้"] ,
        hasLink: true, link: "ข้อมูลเพิ่มเติม", href: "#", linkclass: ""
      },
      staffHeader: 'คณะกรรมการบริษัท',
      staff: [
        { head: 'ดร.พิสิฐ ลี้อาธรรม', date: 'ประธานกรรมการเเละกรรมการอิสระ', url:'#'},
        { head: 'นายทองมา วิจิตรพงศ์พันธุ์', date: 'รองประธานกรรมการ', url:'#'},
        { head: 'ดร.พิสิฐ ลี้อาธรรม', date: 'ประธานกรรมการเเละกรรมการอิสระ', url:'#'},
        { head: 'นายทองมา วิจิตรพงศ์พันธุ์', date: 'รองประธานกรรมการ', url:'#'},
        { head: 'ดร.พิสิฐ ลี้อาธรรม', date: 'ประธานกรรมการเเละกรรมการอิสระ', url:'#'},
        { head: 'นายทองมา วิจิตรพงศ์พันธุ์', date: 'รองประธานกรรมการ', url:'#'},
        { head: 'ดร.พิสิฐ ลี้อาธรรม', date: 'ประธานกรรมการเเละกรรมการอิสระ', url:'#'},
        { head: 'นายทองมา วิจิตรพงศ์พันธุ์', date: 'รองประธานกรรมการ', url:'#'},
      ],
      ci: {
        title: "CORPORATE IDENTITY" ,
        text: [
          'PRUKSA HOLDING Brand Mark Concept',
          'ตราสัญลักษณ์ (Brand Mark) นี้ได้ถูกออกแบบเพื่อต้องการสะท้อนบุคลิก ภาพลักษณ์ แนวคิด และหัวใจของการดำเนินการเพื่อสื่อสารภาพลักษณ์ วิสัยทัศน์ และรวมถึงองค์ประกอบต่างๆ ที่เป็นหนึ่งขององค์กรที่ดำเนินการสอดคล้องไปในทิศทางเดียวกันในทุกกลุ่มทุกส่วน',
          'โดยตราสัญลักษณ์นี้ได้เริ่มต้นจากการออกแบบโดยดัดแปลงจากรูปทรงที่ได้จากการผสมผสานองค์ประกอบศิลป์ตามรูปแบบสากลที่นำประยุกต์รวมกันเพื่อสื่อถึงความเป็น “PRUKSA HOLDING” ในหลายแง่มุม ด้วยรูปแบบของใบไม้ที่กำลังผลิบาน แตกออกมาจากยอด เพื่อสื่อสารถึงการเริ่มต้นชีวิต สะท้อนให้ เห็น มาจากการที่ธุรกิจในกลุ่มของบริษัทฯ ดำเนินธุรกิจที่เกี่ยวข้องกับการอยู่อาศัย',
          'รูปทรงของหลังคาบ้าน ซึ่งสะท้อนมาจากความอบอุ่น ความปลอดภัย ชีวิตของการอยู่อาศัยภายใต้ หลังคาที่แข็งแรงเป็นปึกแผ่น',
          'รูปทรงของการเจริญเติบโต การพัฒนา สะท้อนให้เห็นถึงความเจริญเติบโตของบริษัทฯ และความสุข ที่เพิ่มมากขึ้นทั้งลูกค้าและขององค์กร'
        ]
      },

    }
  });
</script>
