<div id="app">
  <blog-header  :data="header" ></blog-header>
  <content-simple :content="content"></content-simple>
  <map-center></map-center>
</div>

<script type="text/javascript">

</script>

<!-- Include JAVASCRIPT here ><-->
<script src="/js/investor.js"></script>
<script src="/js/map.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCdUSDSheJVPKt2eCrJE1sZEx3cAud_aT0&callback=initMap"> </script>
<script type="text/javascript">
  var app = new Vue({
    el: '#app',
    data: {
      header: 'ข้อมูลการติดต่อ',
      content:[
        { ex:'text'   ,text:'โรงเรียนกวดวิชา Super Genius'},
        { ex:'text'   ,text:'รังสิต-ปทุมธานี 14 ซอย 9 ต. ประชาธิปัตย์ อ.ธัญบุรี จ. ปทุมธานี 12130'},
        { ex:'column' ,text:'พี่วิน สอนเลข'},
        { ex:'text'   ,text:'📞 โทรศัพท์. 089-760-6279 '},
        { ex:'text'   ,text:'✉️ อีเมล์. windz_bs@hotmail.com'},
      ]

    }
  });
</script>
