<div id="app">
  <!-- <div :style="{height: '40px'}"></div> -->
  <div class="container _spiltter _center">
    <img src="<%= image_path 'course_01.jpg' %>" alt="" class="image_brand">
    <img src="<%= image_path 'course_02.jpg' %>" alt="" class="image_brand">
  </div>
</div>

<script type="text/javascript">

  var app = new Vue({
    el: '#app',
    data: {}
  });
</script>
