<div id="app">
  <blog-header  :data="header" ></blog-header>
  <square-grid  :news="news"></square-grid>
</div>

<script type="text/javascript">

</script>

<!-- Include JAVASCRIPT here ><-->
<script src="/js/investor.js"></script>
<script type="text/javascript">
  var app = new Vue({
    el: '#app',
    data: {
      header: 'ข่าวเเละกิจกรรม',
      news: [
        { head: 'เปิดโผ 7หุ้นเด่นปีหน้า รายได้-กำไรโตแกร่ง', date: '27 ธันวาคม 2559', url:'#'},
        { head: 'PSH รุกเสริมแกร่งเล็งทุ่มงบพันล้าน แตกไลน์ธุรกิจเพิ่ม', date: '16 ธันวาคม 2559', url:'#'},
        { head: 'เปิดโผ 7หุ้นเด่นปีหน้า รายได้-กำไรโตแกร่ง', date: '27 ธันวาคม 2559', url:'#'},
        { head: 'PSH รุกเสริมแกร่งเล็งทุ่มงบพันล้าน แตกไลน์ธุรกิจเพิ่ม', date: '16 ธันวาคม 2559', url:'#'},
        { head: 'เปิดโผ 7หุ้นเด่นปีหน้า รายได้-กำไรโตแกร่ง', date: '27 ธันวาคม 2559', url:'#'},
        { head: 'PSH รุกเสริมแกร่งเล็งทุ่มงบพันล้าน แตกไลน์ธุรกิจเพิ่ม', date: '16 ธันวาคม 2559', url:'#'}
      ]
    }
  });
</script>
