<div id="app">
  <blog-header  :data="header" ></blog-header>
  <square-grid  :news="newfeeds"></square-grid>
</div>

<script type="text/javascript">

</script>

<!-- Include JAVASCRIPT here ><-->
<script src="/js/investor.js"></script>
<script type="text/javascript">
  var app = new Vue({
    el: '#app',
    data: {
      header: 'ข่าวเเละกิจกรรม',
      newfeeds: [],
    },
    //include json file of board
    mounted: function() {
      this.$nextTick(function () {
        var that;
        that = this;
        $.ajax({
          url: '/newsfeeds.json',
          success: function(res) {
            that.newfeeds = res;
          }
        });
      });
    }
  });
</script>
