<div id="app">
  <blog-header  :data="header" ></blog-header>
</div>

<script type="text/javascript">
</script>

<!-- Include JAVASCRIPT here ><-->
<script src="/js/investor.js"></script>
<script type="text/javascript">
  var app = new Vue({
    el: '#app',
    data: {
      header: 'ข่าวจากสื่อสิ่งพิมพ์',
    }
  });
</script>
