body.admin-body
  height: 100vh
  overflow: auto

.admin-container
  display: flex

.sidebar
  min-width: 15%
  position: relative
  .sidebar-container
    position: fixed
    background: #ececec
    width: 15%
    height: 100vh
    a.item
      width: 100%
      height: 48px
      border-bottom: 1px solid #d5d5d5
      line-height: 48px
      color: #878787
      display: block
      padding: 0 18px
      transition: 0.4s
      &:hover, &:focus
        background: #b9383a
        color: #ffffff !important

.main-container
  flex-grow: 1
  padding: 2% 5%

.admin-block
  background: white
  border: 1px solid #d2c9c9
  padding: 46px 40px 40px
  border-radius: 6px
  box-shadow: 0 1px 23px rgba(195, 153, 153, 0.53)
  h1
    font-size: 30px
    margin-bottom: 20px
    border-bottom: 2px solid
    color: #b9383a
  a.btn-ner
    float: right
    border: 1px solid
    padding: 4px 13px
    font-size: 15px
    border-radius: 14px
    background: #f3f3f3
    color: #6e6e6e
    &::before
      content: "+"
      margin-right: 6px
      font-size: 18px
      margin-left: -3px
  table
    thead
      tr
        background: #f3f3f3
        line-height: 24px
    tbody
      tr
        border-bottom: 1px solid #e8e8e8
    th,td
      padding: 9px 0px
      &:first-child
        padding-left: 12px
      &.t-center
        text-align: center
      &.t-blur
        color: #acacac
    .t-course
      font-size: 10px
      color: #6f6f6f

._dashboard_content
  ._main
    img
      max-width: 340px
  .d_text
    text-align: center
    margin-bottom: 20px
    font-size: 18px
    letter-spacing: 1px
    color: #929292
