body.admin-body
  overflow: auto
  @media (min-width: 1024px)
    height: 100vh
.admin-container
  display: flex

.sidebar
  min-width: 15%
  position: relative
  .sidebar-container
    position: fixed
    background: #ececec
    width: 15%
    height: 100vh
    a.item
      width: 100%
      height: 48px
      border-bottom: 1px solid #d5d5d5
      line-height: 48px
      color: #878787
      display: block
      padding: 0 18px
      transition: 0.4s
      &:hover, &:focus
        background: #b9383a
        color: #ffffff !important

.main-container
  flex-grow: 1
  padding: 2% 5%

.admin-block
  background: white
  border: 1px solid #d2c9c9
  padding: 46px 40px 40px
  border-radius: 6px
  box-shadow: 0 1px 23px rgba(177, 171, 171, 0.53)
  &._mobi-show
    @media (min-width: 560px)
      display: none
  &._button-fuller
    margin: 8px
    padding: 0
    background: none
    box-shadow: none
    border: none
    .btn-redder
      width: 100%
      display: inline-block
      text-align: center
      line-height: 40px
  &.bottom-mobi-10
    @media (max-width: 1024px)
      margin-bottom: 10px
  h1
    font-size: 30px
    margin-bottom: 20px
    border-bottom: 2px solid
    color: #b9383a
  h3.hr-cer
    margin-bottom: 10px
    color: #9a3434
  .class-period
    font-size: 16px
    margin-left: 8px
    select
      option
  .btn
    border: 0px
    font-size: 18px
  .btn-grey
    background: #e4e3e3
    padding: 4px 6px
    color: #6f6f6f
    border-radius: 3px
  .red-text
    color:  #e85355
    font-weight: bold
  .btn-redder
    background: #e85355
    padding: 4px 6px
    color: white
    border-radius: 3px
  a.btn-red-mini
    background: #e85355
    color: white
    padding: 2px 4px
    border-radius: 4px
    font-size: 10px
    text-transform: lowercase
    margin-left: 4px
  a.btn-bfr
    height: 34px
    line-height: 28px
    float: right
    padding: 3px 8px 5px 11px
    font-size: 14px
    border-radius: 6px
    background: #cd6767
    color: #ffffff
    border: 0px
    margin-left: 10px
  a.btn-ner
    float: right
    padding: 3px 8px 5px 11px
    font-size: 14px
    border-radius: 6px
    background: #e2e2e2
    color: #6e6e6e
    border: 0px
    &::before
      content: "+"
      margin-right: 6px
      font-size: 18px
      margin-left: -3px
  a.btn-min
    float: right
    padding: 3px 6px 5px 8px
    font-size: 13px
    border-radius: 6px
    background: #e2e2e2
    color: #6e6e6e
    border: 0px
    &::before
      content: "-"
      margin-right: 6px
      font-size: 16px
      margin-left: -1px
  .show-container
    p
      font-size:   16px
      line-height: 34px
      &.inline-block
        display: inline-block
      strong
        min-width: 160px
        display:   inline-block
        font-weight: 500
      .inline-text-htmler
        display: inline-block
        max-width: 720px
        vertical-align: top
        font-size: 15px
  .textarea-for-cms
    width: 100%
    min-height: 540px
    display: block
    max-width: 720px
    border-radius: 6px
    padding: 15px 15px
    border-color: #d2d2d2
    font-size: 13px
    color: #3a3a3a
  .textarea-for-sub-content
    width: 100%
    min-height: 140px
    display: block
    max-width: 720px
    border-radius: 6px
    padding: 15px 15px
    border-color: #d2d2d2
    font-size: 13px
    color: #3a3a3a
  select.select-boxing
    -webkit-appearance: none
    width: 76%
    margin-left: 10%
    padding: 0px 4px
    line-height: 17px
    border-radius: 2px
    margin-bottom: 1px
  span.mar-10
    margin-right: 10px
  span.mar-20
    margin-right: 20px

  .label-banner
    background: #e64649
    color: #ffffff
    line-height: 44px
    padding: 0 21px
    border-radius: 5px
    font-size: 16px
  table
    // config scrollable complex table cell
    ._desktop-show
      @media (max-width: 560px)
        display: none
    ._mobi-show
      @media (min-width: 560px)
        display: none
    @media (max-width: 1024px)
      thead
        display: block
      tbody
        margin-left: 1px
        height:     60vh
        width:      100%
        overflow-y: auto
        display:    block
        &._normal-body
          height: inherit !important
        &::-webkit-scrollbar
          width: 3px
        &::-webkit-scrollbar-track
          -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3)
        &::-webkit-scrollbar-thumb
          background-color: darkgrey
          outline: 1px solid slategrey
      tr.first-left
        position: relative
        display: block
        span.fixed-column
          display: none
          // display: flex
          border-left: 1px solid #e8e8e8
          border-right: 1px solid #e8e8e8
          margin-left: 0
          position: absolute
          top: 0px
          left: 2px
          width: 54px
          background: white
          height: 100%
          justify-content: center
          align-items: center
          transition: 0.1s
          flex-direction: column
          background: whitesmoke
      td,tr:first-child th
        &:first-child
          min-width: 60px
        &:nth-child(2)
          min-width: 114px
          max-width: 114px
        &:nth-child(3)
          min-width: 42px
          max-width: 42px
      tr:nth-child(2) th ,tr:nth-child(3) th,
        &:not(:first-child)
          min-width: 31px
          max-width: 31px
      td
        &:not(:first-child):not(:nth-child(2)):not(:nth-child(3))
          min-width: 31px
          max-width: 31px
    thead
      tr
        background: #f3f3f3
        line-height: 24px
        &.row-head-score
          th
            border-right: 1px solid #c1c1c1
            padding: 0
            text-align: center
            font-size: 12px
            font-weight: 400
            &.top-input
              input
                width: 24px
                text-align: center
            b.score-point
              border: 1px solid #2d2d2d
              color: #2d2d2d
              padding: 1px 2px
            b.score-mental
              border: 1px solid #f13d3d
              color: #f13d3d
              padding: 1px 2px
        th
          &.row-up
            vertical-align: middle
            padding: 5px
            text-align: center
          &.row-right
            border-right: 1px solid #c1c1c1
          &.row-left
            border-left: 1px solid #c1c1c1
          a.click-able
            background: #c35252
            padding: 2px 4px
            color: white
            border-radius: 3px
            cursor: pointer
    tbody
      tr
        border-bottom: 1px solid #e8e8e8
        &.center-align
          td
            vertical-align: middle
    th.center-div
      text-align: center
    th.yellow-gadget
      background: #FFC107
    td
      vertical-align: top
    td.clickable
      cursor: pointer
    td.yellow-gadget
      background: #e6e6e6
      padding: 9px 3px
      border-bottom: 1px solid #d2d2d2
      input
        border: 0
        line-height: 15px
        &.first
          margin-bottom: 1px
    td.scoring
      max-width: 22px
      input
        text-align: center
    th,td
      padding: 9px 0px
      &.row-center
        text-align: center
      &.row-right
        border-right: 1px solid #e8e8e8
      &.row-score
        input
          width: 24px
          display: inline-block
      &.row-left
        border-left: 1px solid #e8e8e8
      &.row-rep
        border-bottom: 1px solid #c1c1c1
        border-right: 1px solid #c1c1c1
        padding: 6px 0
      &.current-row
        background: rgb(243, 243, 243)
      &:first-child
        padding-left: 12px
      &:nth-child(2)
        max-width: 200px
      &.t-center
        text-align: center
      &.t-blur
        color: #acacac
      .sc-tb , .ma-tb
        background: #ea3257
        color: white
        text-align: center
        margin-right: 3px
        font-size: 12px
      .ma-tb
        background: #c1c1c1
        color: #545454
        margin-top: 2px
    .t-course
      font-size: 10px
      color: #6f6f6f

.form-maker
  font-size: 18px
  display: inline-block
  padding-left: 16px
  width: 100%
  &._leave-padding
    padding: 0
  &.__left-null
    padding-left: 0
  @media (max-width: 1024px)
    padding: 0 10px
  h2
    font-size: 24px
  ._mobi-card
    border: 1px solid #9b0000
    padding: 18px
    border-radius: 5px
    margin-top: 8px
    display: flex
    justify-content: center
    align-items: center
    ._flex
      flex-grow: 1
    ._big-text
      font-size: 16px
    ._red-text
      color: #9b0000
    ._mini-size
      font-size: 12px
      margin-top: 14px
    &._mobi-show
      @media (min-width: 560px)
        display: none
._fab
  position: fixed
  bottom: 20px
  z-index: 2
  right: 5vw
  background: #f32c2c
  padding: 12px
  border-radius: 7px
  max-width: 136px
  text-align: center
  a
    color: white !important

form
  div.field
    display: -webkit-box
    line-height: 40px
    @media (max-width: 1024px)
      display: block
    span.__danger
      color: #ce0808
      font-size: 13px
      font-style: italic
    label
      min-width: 140px
      margin-right: 20px
      &.__book-gap
        min-width: 222px
      &.sub-title
        @media (max-width: 1024px)
          font-size: 13px
          line-height: 14px
          margin-top: 6px
          margin-bottom: 0
          color: grey
    input
      &[type="text"],&[type="number"],&[type="date"]
        width: 240px
        padding: 10px 10px
        font-size: 14px
        border-radius: 4px
        border: 1px solid #d4d4d4
        margin-right: 8px
      &.input-list
        width: 300px
        @media (max-width: 1024px)
          width: 100%
          margin: 0
      &.submit
        @media (max-width: 1024px)
          margin-top: 5px
          font-size: 17px
          padding: 7px
    select
      width: 240px
      height: 36px
      border: 1px solid gainsboro
      background: #ffffff
      font-size: 14px
    &.time-selector
      select
        width: 60px
    &.date-selector
      select
        width: 90px
    &.minify-selector
      input
        width: 140px

ol.__remark-ol
  padding-left: 22px
  li
    font-size: 16px
    line-height: 24px


._dashboard_content
  ._main
    img
      max-width: 340px
  .d_text
    text-align: center
    margin-bottom: 20px
    font-size: 18px
    letter-spacing: 1px
    color: #929292

select.mental-point
  &.comment
    color: red

a.ment
  font-size: 11px
  display: none
  &.shower
    font-size: 11px
    display: block
    color: red

.selectize-control
  min-width: 242px

.swal2-spacer
  background-color: white
