@import "variable"

._dashboard
  display: flex
  height: 100vh
  .__sidebar
    width: 200px
    display: table-header-group
    height: 100%
    background: $is-light
    padding-top: 60px
    ul
      li
        &:last-child
          border-bottom: 1px solid #d0d0d0
          a
            padding-bottom: 26px
        a
          display: block
          color: #2d2d2d
          padding: 13px 28px
          font-size: 15px
          &:hover , &:focus, &:active
            background-color: rgba(167, 167, 167, 0.2)
          &.active
            background-color: $is-info
            color: white
          &._head
            border-bottom: 0px !important
            font-weight: 700
            padding: 24px 20px 12px
            &:hover , &:focus, &:active
              background-color: rgba(255, 255, 255, 0)
              color: #2d2d2d


  .__content
    padding-top: 60px
    .__content_padding
      padding: 5%
