// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "variable"

$blue: #72d0eb
$pink: #ffb3b3
$family-serif: "Georgia", serif

.hero
  .hero-body
    padding: 40px

.flex
  display: flex

._main_cupboard
  display: flex
  margin: 40px auto 120px !important
  ._side
    min-width: 240px
    margin-right: 28px
    padding-right: 20px
    border-right: 1px solid #dcdcdc
    a._right_link
      color: $is-info
      margin-top: 14px
      float: right
    h1
      color: grey
      font-size: 24px
      margin-bottom: 10px
      padding-bottom: 10px
      border-bottom: 1px solid #dcdcdc
    ._list
      border-bottom: 1px solid #dcdcdc
      padding-bottom: 14px
      margin-top: 18px
      .new
        display: block
        margin-bottom: 20px
        font-size: 14px
      .date
        color: $is-info
        font-size: 14px
  ._main
    width: 100%
    ._body_quote
      padding: 0px !important
      .container
        padding-top: 0px
        padding-bottom: 0px
        .column.__header_quote
          h2 , h1
            display: inline-block
          h2
            font-size: 22px !important
            color: #7d7d7d
            margin-right: 14px
          h1
            font-size: 22px !important
            color: $is-info
        .columns
          .column
            border-left: 1px solid #dbdbdb
            h2 span.text
              color: $is-info
            &:first-child
              display: none
            &:nth-child(2)
              border-left: none
            &:not(:first-child)
              padding: 10px 24px
              h1
                height: 36px

    ._split_jumbo
      display: flex
      ._body_jumbo
        padding: 0 16px !important
        width: 50%
        &:first-child
          border-right: 1px solid #e4e4e4
        .hero-body
          padding: 14px 0px
          .__body
            h1
              color: grey
              border-bottom: 0
              font-size: 22px
            h2
              max-width: inherit
              font-size: 16px
              margin-top: 8px
            a

h1
  color: $blue
  &.header
    font-size: 36px
    text-transform: uppercase
    color: black
    margin-bottom: 15px !important
    font-weight: 400px
    min-height: 52px

  &.sub-header
    letter-spacing: 2px
    font-weight: 400
.clicker
  &:hover,&:focus
    cursor: pointer

.close-butt
  position: absolute
  top: 13px
  right: 20px
  font-size: 36px !important
  color: white
  cursor: pointer

.sub-title
  margin-bottom: 30px
  > h1
    margin-left: 20px
    font-size: 25px
    font-weight: 100
    letter-spacing: 2px
    font-style: italic
    color: #000000 !important

.side-menu
  position: fixed
  //left: 65px
  top: 0px
  background-color: rgba(82, 82, 82, 0.95)
  width: 320px
  height: 100vh
  z-index: 5
  display: flex
  align-items: center
  justify-content: center
  aside
    p.menu-label
      color: white
    ul li a
      color: #bdbdbd

.columns
  h3.cent
    text-align: center
    font-size: 20px
    font-weight: 600
    letter-spacing: 1px
  .image
    &.pad-30
      padding: 0 30px
      @media screen and (max-width: 720px)
        max-width: 360px
        margin: 0 auto


.element
  display: inline-block
  font-size: 36px
.typed-cursor
  font-size: 36px

.side-bar
  width: 80px
  @media screen and (max-width: 720px)
    position: fixed
    height: 66px
    width: 100vw
    bottom: 0
    z-index: 3
    > section
      height: inherit !important
      width: 100% !important
      flex-direction: row !important
      a
        padding: 0 28px
        margin-top: 33px
  > section.side-bar-cont
    height: 100vh
    background-color: white
    position: fixed
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    width: 76px
    a
      color: #4e4e4e
      i
        font-size: 28px
        margin-bottom: 36px
        &.fa-mobile
          font-size: 42px

.main-container
  width: 100%
  section.hero.jumbo
    //min-height: 540px
    .hero-body
      align-items: center
      display: flex

.list-of-folio
  &:last-child
    .section
      border-bottom: 0px
.section
  &.folio-list
    background: none
    margin: 0 40px
    border-bottom: 1px solid grey
    @media screen and (max-width: 720px)
      margin: auto
      .heading
        .flex
          flex-direction: column
          a
            margin: auto
          .contents
            margin-left: 0
            margin-top: 20px
            text-align: center
            h1
              font-size: 22px

    .flex
      margin-top: 24px
    .contents
      margin-left: 48px
      h1
        font-size: 32px
        margin-bottom: 6px
        color: #2d01ff !important
        font-weight: 200 !important
        font-style: italic
.nav
  .nav-left
    overflow: inherit
    overflow-x: inherit
  .nav-right
    &.nav-contact-menu
      @media screen and (max-width: 720px)
        padding: 7px 0
        a.phone
          &:after
            content: '' !important
      a.phone
        text-transform: uppercase
        &:after
          content: 'contact us'
        i
          font-size: 24px
          margin-right: 12px

._hero_mason
  padding: 60px 40px
  ._mason_container
    text-align: center
    .card
      text-align: left

._hero_grid
  .hero-body
    padding: 80px 40px
  h2
    font-size: 20px
  img
    width: 280px

._hero_map
  position: relative
  .content
    height: 100%
    width: 100%
    #map
      height: 100%
      width: 50%
      &._fullscreen
        width: 100% !important
    ._contact
      position: absolute
      top: 0
      right: 0px
      width: 50%
      height: 100%
      padding: 40px 5%
      display: flex
      flex-direction: column
      justify-content: center
      h1
        font-size: 25px
        margin-bottom: 0

      h2
        font-size: 18px
        margin: 20px 0 0
        .head
          font-weight: 600
          margin-bottom: 11px
          display: block
        a
          color: #b86bff
          span
            max-width: 400px
            display: inline-block



._hero_body_slider
  position: relative
  &:hover
    .arrow-picker
      display: block
  .arrow-picker
    display: none
    position: absolute
    width: 100%
    top: 48%
    a.pick
      font-size: 50px
      color: rgba(255, 255, 255, 0.60)
      transition: 0.5s
      &:hover
        color: white
      &:first-child
        margin-left: 3%
      &:last-child
        float: right
        margin-right: 3%
  .slider-picker
    text-align: center
    position: absolute
    bottom: 4%
    width: 100%
    a
      width: 10px
      height: 10px
      background: white
      display: inline-block
      border-radius: 5px
      margin-right: 16px
      &.active
        opacity: 0.4
