@import "variable"

._simple_container
  padding: 10px 84px !important
  margin-top: 0px
  .container
    margin: 0 2%
  p
    font-size: 16px
    margin-bottom: 20px
  ul
    padding: 0 20px 18px
    list-style-type: circle

    li
      font-size: 18px
      padding: 8px 0


._body_quote
  padding: 28px 84px !important
  .columns
    width: 100%
    padding: 20px 0
    .column
      &.__header_quote
        min-width: 280px
        h1
          font-size: 28px
          padding-bottom: 4px
          border-bottom: 4px solid $is-info
          color: $text-is-info
          display: inline
        h2
          margin-bottom: 6px
          font-size: 20px
      &:not(:first-child)
        border-left: 1px solid grey
        padding: 20px 24px
        h1
          font-size: 24px
          color: $text-is-info
        h2
          font-size: 16px
          margin-top: 3px
  a
    float: right
    color: $text-is-info
    &._update
    &._history
      font-size: 18px
      line-height: 24px
      border-bottom: 1px solid $is-info
      &:after
        content: '>'
        margin-left: 8px

._body_table
  padding: 10px 84px !important
  .right
    float: right
  ._content
    padding: 14px 0
    font-size: 16px
    select
      margin-left: 4px
      vertical-align: baseline
  table
    tr._highlight
      background-color: #eaeaea



._body_header
  padding: 0 84px !important
  .hero-body
    padding-bottom: 10px

._body_jumbo
  padding: 40px 84px !important

._body_jumbo_notop
  padding: 0 84px !important
  &.__top_to_blog
    margin-top: -90px

._body_jumbo, ._body_header
  .__body
    width: 100%
    padding: 20px 0
    position: relative
    h1
      font-size: 28px
      padding-bottom: 6px
      border-bottom: 3px solid $is-info
      color: $text-is-info
      display: inline
    h2
      margin-bottom: 24px
      margin-top: 33px
      font-size: 20px
      max-width: 60%
    a
      color: $text-is-info
      font-size: 18px
      line-height: 24px
      &:after
        content: '>'
        margin-left: 8px
      &.__middle
        position: absolute
        top: 50%
        right: 0px

._collapsiv
  ._header
    background: #e2e2e2
    padding: 12px 24px
    font-size: 21px
    margin-bottom: 10px
  ._content
    margin-top: -10px
    border: 1px solid #d2d2d2
    padding: 22px 5%
    margin-bottom: 14px
    ._blog
      .__blog_data
        font-size: 17px
        margin-bottom: 8px
      .header
        color: $text-is-info
        font-size: 20px
        font-weight: 500
        margin: 36px 4px 10px
        &:first-child
          margin-top: 16px
