@import "variable"

.hero
  &._fixed_top
    .hero-head
      position: fixed
      top: 0
      width: 100%
      z-index: 20
      &._mainH_wait_nav
        position: absolute
        top: inherit
    ._hero_body_slider
      margin-top: 60px
._fixed_margin
  margin-top: 60px
  @media screen and (max-width: 768px)
    &._with_nav_affix
      margin-top: 120px

.nav
  min-height: 60px !important
  transition: 1s
  background: #ffffff !important
  box-shadow: 0 2px 6px rgba(40, 40, 40, 0.2) !important
  &._bg_blue
    //background: $linear-gb !important
    //background: rgba(0,42,88,1) !important

.nav-mobi-show
  display: none !important
  @media screen and (max-width: 768px)
    display: flex !important
    a
      font-size: 22px
      padding: 0 30px
      position: relative
      color: white
      &:hover, &:active
        color: rgba(255, 255, 255, 0.4)
      i
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%,-50%)

.nav-menu
  .inherit-nav
    display: inherit

.nav-item
  position: relative
  min-width: 120px
  padding: 0 20px
  border-bottom: 3px solid rgba(0,0,0,0)
  color: #aa3537 !important
  &.active
    @media screen and (max-width: 768px)
      border-bottom: 0 !important
      font-weight: 700 !important
      color: #aa3537 !important
      font-weight: bolder !important
  &:hover, &:focus, &.active
    color: #aa3537 !important
    border-bottom: 3px solid white
    font-weight: bolder !important
    @media screen and (max-width: 768px)
      border-bottom: 0 !important
  &.nv
    &:before
      content: "//"
      margin-right: 10px
  .icon
    margin-right: 4px
  ._with_sub_item
    margin-left: 14px
    &:hover
      ul._sub_nav_item
        display: block
    ul._sub_nav_item
      display: none
      position: absolute
      padding-top: 15px
      right: 0px
      min-width: 160px
      li
        &:not(:last-child)
          border-bottom: 1px solid white
        a
          background: #797979
          display: block
          font-size: 15px
          padding: 10px 20px

.nav
  &._fixed
    position: fixed
    top: 60px
    width: 100%
    //background: $is-info !important
  &._nav_affix
    transition: 1s
    @media screen and (max-width: 768px)
      flex-direction: column
      position: fixed
      top: 60px
      width: 100%
      box-shadow: none !important
    &._add_color
      background: $linear-gb !important
      @media screen and (max-width: 768px)
        background: #1a4d8c
    ._top_affix
      display: none
      @media screen and (max-width: 768px)
        display: block
        padding: 18px 0
        width: 100%
        font-size: 16px
        height: 60px
      a
        position: absolute
        right: 16px
        color: white
        width: 24px
        height: 24px
        background-size: cover
        transition: 0.2s
        &.ar_up
          background-image: url('/img_ref/ar_down.png')
        &.ar_down
          background-image: url('/img_ref/ar_up.png')
    .columns
      width: 100%
      margin-bottom: 0px
      margin-top: 0px
      &.super-columns
        width: 70% !important
        margin-left: 15%
      @media screen and (max-width: 768px)
        display: none
        background: rgba(66, 66, 66, 0.85)
        width: 103% !important
      .column
        padding: 18px 0px
        position: relative
        @media screen and (max-width: 768px)
          text-align: left
          padding: 20px 9% !important
          border-bottom: 1px solid #5a5a5a
        &:hover, &:active,
          border-bottom: 3px solid white
          a
            color: white
        &.active
          a
            color: white
            //background-color: rgba(255, 255, 255, 0.2)
            //border-bottom: 4px solid #5294ff
        a
          color: rgba(255, 255, 255, 0.6)
          font-size: 14px
      .column
        &:hover
          ul
            display: block !important
            background: #737475 !important
          @media screen and (max-width: 768px)
            ul
              display: none !important
        ._link_with_sub
          ul
            display: none
            background: $is-info
            position: absolute
            top: 60px
            left: 0
            width: 180px
            text-align: left
            li
              color: white
              padding: 18px 24px
              &:not(:last-child)
                border-bottom: 1px solid #ffffff
              &:hover
                background-color: opacify(#2d2d2d, 0.4)
