$text-is-primary: #00d1b2
$text-is-info:    #004694
$text-is-success: #23d160
$text-is-warning: #ffdd57
$text-is-danger:  #ff3860

$linear-gb: linear-gradient(90deg, #004599 0%, #006CB7 49%, #004599 100%)

$is-primary: #00d1b2
$is-info:    #004694
$is-success: #23d160
$is-warning: #ffdd57
$is-danger:  #ff3860
$is-light:   #dedede
