$text-is-primary: #00d1b2
$text-is-info:    #3273dc
$text-is-success: #23d160
$text-is-warning: #ffdd57
$text-is-danger:  #ff3860

$is-primary: #00d1b2
$is-info:    #3273dc
$is-success: #23d160
$is-warning: #ffdd57
$is-danger:  #ff3860
$is-light:   #dedede
