<section id="nav" class="hero is-danger">
  <div class="hero-head">
    <header class="nav">
      <div class="container">
        <div class="nav-left">
          <a class="nav-item">
            <img src="https://s27.postimg.org/n4heq6zpf/logo_koh.png" alt="" style="height: 14px; margin-top: 2px; margin-left: 20px;">
          </a>
        </div>
      </div>
    </header>
  </div>
</section>

<script type="text/javascript">
  Vue.component('my-component', {
    template: '<div>A custom component!</div>'
  });
  // create a root instance
  new Vue({
    el: '#nav'
  });
</script>
